@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}
/*Inicio Header-------------------*/
.nav-custom {
  display: flex;
  background-color: #7159C1;
  }
  
.btn-cadastro-custom {
  color: #A094F2;
  border-color: #A094F2;
  margin-right: 30px;
}
.btn-login-custom {
  padding: 1px 15px 3px 2px;
  border-radius: 50px;
  background: #88BF36;
}
.btnI-custom {
  padding: 8px;
}
/*Fim Header-----------------------*/

/*Menu Navegação*/
.container-menu-principal{
  position: relative;
}
.nav-menu-principal{
  height: 10vh;
  width: 100%;
  background-color: #A094F2;
  
}
.menu-principal{
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}
@media (max-width:997px){
  .menu-principal-itens, .menu-principal-itens-sub{
      font-size: 12px;
  }
}

.menu-principal-itens, .menu-principal-itens-sub {
  background-color: #AEB2F2;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  transition: 0.2s;
}
.menu-principal-itens-sub img{
  width: 25px;
  transition: 0.2s;
  
}
.menu-principal-itens-sub-click{
  align-self: flex-end;
  height: 55px;
  border-radius: 5px 5px 0px 0px;
  transition: 0.2s;
}
.menu-principal-itens-sub-click img{
  transform: rotate(90deg);
}
/*sub menu categorias*/
.sub-menu-principal{
  background-color: #AEB2F2;
  display: none;
  height: 120px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  border-radius:  0px 0px 10px 10px;
  
}
.sub-menu-principal-enable{
  position: relative;
  display: flex;
  z-index: 5;
}
.sub-menu-itens-principal{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around   ;
  margin: 5px;
  color: #203573;
  font-weight: bold;

}
.sub-menu-itens-principal:hover{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #A094F2;
}
.icon-categoria-menu img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
 
}
/*Menu mobile*/
/*Botão mobile*/
.btn-menu-hamburguer{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  background-color: transparent;

  border: none;
  margin: 5px;
  padding: 3px;
}
.btn-menu-hamburguer div{
  width: 35px;
  height: 6px;
  background-color: #AEB2F2;
  border-radius: 5px;
}
/*fim botao*/
.nav-menu-principal-mobile{
  display: none;
  overflow: hidden; 
  position: relative; 
  z-index: 5;
  
}
.menu-principal-mobile{
  transition: 0.6s;
  
}
.menu-principal-mobile li{
  border-radius: 0;
  transition: 1s;
}
.menu-principal-mobile-fechar{
  margin-top: -100%;
}
.menu-principal-mobile-abrir{
  margin-top: 0%;
  
}
@media (max-width:768px){
  .nav-menu-principal{
    display: none;
  }
  .nav-menu-principal-mobile{
     
    display: block;
  }
  .menu-principal-itens, .menu-principal-itens-sub{
    border-bottom: solid 1px #203573;
  }
  .btn-menu-hamburguer{
    display: flex;
   }
   .sub-menu-mobile-color{
    background-color: #AEB2F2; 
    border-radius: 0;
   }
   .sub-menu-itens-principal{
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    color: #203573;
    font-weight: bold;
    transition: 0.2s;
    border-bottom: solid 1px #203573;
  }
  .sub-menu-itens-principal:last-child{
    margin-bottom: 10px;
  }
}
/*Fim menu navegação*/

/* Configuração de todos ul e li da página */
ul, ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Configuração da barra lateral esquerda de opções */
.barra-lateral {
  background-color: #AEB2F2;
  display: flex;
  flex-direction: column;
  height: 45rem;
  width: 12rem;
}

.barra-lateral .foto-perfil {
  background-image: linear-gradient(to right, rgb(136, 191, 54) , rgb(28, 75, 133), rgb(160, 148, 242));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
}

.barra-lateral .foto-perfil .usuario img {
  background-color: #ffffff;
  border-radius: 100px;
  width: 84px;
}

.barra-lateral .foto-perfil .botao-comunicacao img {
  margin-top: 30px;
  width: 32px;
}

.barra-lateral .foto-perfil .dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barra-lateral .foto-perfil .dados a h6 {
  margin: 3px 0;
  padding: 0;
}

.barra-lateral .foto-perfil .dados a {
  color: #ffffff;
  font-size: 0.8rem;
  text-decoration: none;
}

.barra-lateral .opcoes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.barra-lateral .opcoes a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  padding-left: 18px;
}

.barra-lateral .opcoes a:hover {
  background-color: #A094F2;
}

.barra-lateral .opcoes a p {
  color: #203573;
  font-weight: 500;
  margin: 0 2px;
  padding: 0;
}

.barra-lateral .opcoes hr {
  width: 11rem;
  margin: 0 10px;
  padding: 0;
}

/* Configuração da barra superior sessão atual */
.barra-superior {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.barra-superior .sessao {
  background-image: linear-gradient(to right,  rgb(160, 148, 242), rgb(28, 75, 133), rgb(136, 191, 54));
  height: 3.5rem;
}

.barra-superior .sessao a {
  background-color: #AEB2F2;
  border-radius: 5px;
  color: #203573;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0.8rem;
  height: 2rem;
  width: 8rem;
}

.barra-superior .caminho-pagina {
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
}

.barra-superior .caminho-pagina ul {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.barra-superior .caminho-pagina ul li a{
  color: #7159c1;
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0 2px;
}
/*footer*/


.container-footer{
  position: relative;
  background-color: #A094F2;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  
}
.container-footer-head{
  
  font-weight: bold;
  width: 100%;
  padding: 0px;
}
.container-footer-itens{
  width: 100%;
  text-align: justify;
  font-weight: normal;
  padding: 40px;
  text-decoration: none;
}
.footer-titulo{
  text-align: left;
  margin-left: 50px;
}
a:link{
  color:black;
   text-decoration: none;
}
a:hover {
  color:black;
}
nav a {
  color: #230a68;
}
.img-footer{
  width: 320px;
  margin-left:1030px; 
  margin-top: -300px;
}

.youtube{
  width: 30%;
  height: 30%;

}

.imagem-rodape{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203573;
  color: #ffffff;
  font-size: 11pt;
  font-weight: 500;
  width: 100%;
  height: 3rem;
}

.imagem-rodape img{
  width: 80px;
  margin-right: 10px;
}


/*acompanhe usuario*/
.acompanheUsuario{
  width: 100%;
  height: 100%;
}
.itensAcompanheUsuario{
  text-align: left;
  padding: 20px;
}
.usuarioPedidos{
  display: block;
  background-color: #28a745;
  padding: 20px;
  border : 1px solid #28a745;
  margin: 10px;
}
.icones-footer{
  height: 5%;
  width: 5%;
  margin-left: 25px;
}
.imagem-prestador{
  width: 30%;
  height: 30%;
  margin-left:750px;
	margin-top:-180px;
}

.enviado{
  display: block;
  background-color: rgb(131, 87, 172);
  border: 10px solid rgb(131, 87, 172);
  color: white;
  text-align: center;
  height:350px;
  width: 250px;
}

.imagem-enviado{
  width: 50%;
  height: 35%;
  margin-top:-60px;

}
.analise-card{
  display: block;
  background-color: rgb(245, 204, 20);
  border: 10px solid rgb(245, 204, 20);
  color: white;
  text-align: center;
  height:350px;
  width: 250px;
  

  

}
.aceito-card{
  display: block;
  background-color: rgb(46, 155, 37);
  border: 10px solid rgb(46, 155, 37);
  color: white;
  text-align: center;
  height:350px;
  width: 250px;
}
.andamento-card{
  display: block;
  background-color: rgb(37, 78, 155);
  border: 10px solid rgb(37, 78, 155);
  color: white;
  text-align: center;
  height:350px;
  width: 250px;
}
.confirm{
  width: 100%;
  height: 100%;
  margin-left: 40px;
 
 
}
.analise{
  width: 100%;
  height: 100%;
  margin-left: 55px;
 
}
.aceito{
  width: 100%;
  height: 100%;
  margin-left: 70px;
 
}
.andamento{
  width: 100%;
  height: 100%;
  margin-left: 75px;
 
}
.negado-card{
  display: block;
  background-color: rgb(214, 69, 32);
  border: 10px solid rgb(214, 69, 32);
  color: white;
  text-align: center;
  height:350px;
  width: 250px;
}

/*mobile footer e acompanhe*/

@media (max-width:768px){

  .container-footer{
    position: relative;
    background-color: #A094F2;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    
  }
  .container-footer-head{
    
    font-weight: bold;
    width: 100%;
    padding: 0px;
  }
  .container-footer-itens{
    width: 100%;
    text-align: justify;
    font-weight: normal;
    padding: 40px;
    text-decoration: none;
  }
  .footer-titulo{
    text-align: left;
    margin-left: 50px;
  }
  a:link{
    color:black;
     text-decoration: none;
  }
  a:hover {
    color:black;
  }
  nav a {
    color: #230a68;
  }
  .img-footer{
    width: 30%;
    height: 30%;
    margin-left:930px;
    margin-top:-350px;
    
  }
  .youtube{
    width: 30%;
    height: 30%;
  
  }
  /*acompanhe usuario*/
  .acompanheUsuario{
    width: 100%;
    height: 100%;
  }
  .itensAcompanheUsuario{
    text-align: left;
    padding: 20px;
  }
  .usuarioPedidos{
    display: block;
    background-color: #28a745;
    padding: 20px;
    border : 1px solid #28a745;
    margin: 10px;
  }
  .icones-footer{
    height: 5%;
    width: 5%;
    margin-left: 25px;
  }
  .imagem-prestador{
    width: 30%;
    height: 30%;
    margin-left:750px;
    margin-top:-180px;
  }
  .imagem-rodape{
    width: 100%;
    height: 100%;
  }
  .enviado{
    display: block;
    background-color: rgb(131, 87, 172);
    border: 10px solid rgb(131, 87, 172);
    color: white;
    text-align: center;
    height:350px;
    width: 250px;
    
   
  
  }
  .imagem-enviado{
    width: 50%;
    height: 35%;
    margin-top:-60px;
  
  }
  .analise-card{
    display: block;
    background-color: rgb(245, 204, 20);
    border: 10px solid rgb(245, 204, 20);
    color: white;
    text-align: center;
    height:350px;
    width: 250px;
    
  
    
  
  }
  .aceito-card{
    display: block;
    background-color: rgb(46, 155, 37);
    border: 10px solid rgb(46, 155, 37);
    color: white;
    text-align: center;
    height:350px;
    width: 250px;
  }
  .andamento-card{
    display: block;
    background-color: rgb(37, 78, 155);
    border: 10px solid rgb(37, 78, 155);
    color: white;
    text-align: center;
    height:350px;
    width: 250px;
  }
  .confirm{
    width: 100%;
    height: 100%;
    margin-left: 40px;
   
   
  }
  .analise{
    width: 100%;
    height: 100%;
    margin-left: 55px;
   
  }
  .aceito{
    width: 100%;
    height: 100%;
    margin-left: 70px;
   
  }
  .andamento{
    width: 100%;
    height: 100%;
    margin-left: 75px;
   
  }
  .negado-card{
    display: block;
    background-color: rgb(214, 69, 32);
    border: 10px solid rgb(214, 69, 32);
    color: white;
    text-align: center;
    height:350px;
    width: 250px;
  }

}

/* Configuração para tela mobile */
@media (max-width: 768px) {

  /* Configuração da barra lateral esquerda de opções */
  .barra-lateral {
    background-color: #AEB2F2;
    display: flex;
    flex-direction: column;
    height: 45rem;
    width: 4rem;
  }
  
  .barra-lateral .foto-perfil {
    height: 7rem;
  }
  
  .barra-lateral .foto-perfil .usuario img {
    background-color: #ffffff;
    border-radius: 100px;
    width: 38px;
  }
  
  .barra-lateral .foto-perfil .botao-comunicacao img {
    display: none;
  }

  .barra-lateral .foto-perfil .dados a, h6 {
    display: none;
  }
  
  .barra-lateral .opcoes {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .barra-lateral .opcoes a {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    width: 100%;
    padding: 0;
  }

  .barra-lateral .opcoes a img {
    width: 32px;
  }

  .barra-lateral .opcoes a p {
    display: none;
  }
  
  .barra-lateral .opcoes hr {
    width: 3rem;
    margin: 0 8px;
    padding: 0;
  }

  /* Configuração da barra superior sessão atual */
  .barra-superior .sessao {
    height: 2.5rem;
  }
  
  .barra-superior .sessao a {
    font-size: 0.9rem;
    margin: 0.4rem 0.4rem;
    height: 1.5rem;
    width: 6.5rem;
  }
  
  .barra-superior .caminho-pagina {
    background-color: #ffffff;
    border-bottom-left-radius: 15px;
  }
  
  .barra-superior .caminho-pagina ul {
    margin-left: 10px;
  }
  
  .barra-superior .caminho-pagina ul li a{
    font-size: 0.6rem;
  }
}


/*inicio orcamento-usuario---------------*/
.accordion{
  background-color: #88BF36;
  color: #ffffff;
 
  padding: 0px;
  width: 100%;
  text-align: left;
  border: 1px solid white;
  transition: 0.4s;
  font: 20px;
  outline: none;
  -webkit-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    0px 9px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         0px 9px 5px rgba(50, 50, 50, 0.77);
}

.accordion::after{
  content:  url('/img/setaAbaixo.png');
  padding-right: 15px;
  font-size: 50px;
  float: right;
  margin-bottom: 0;
}
.active::after{
 /* content: url('/img/setaAcima.png');*/ 
}
.panel{
  
  background-color: white;
  display: none;
  overflow: hidden;
  padding: 0%;
  margin: 0px;
}
.descricao-servico-usuario{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0%;
  margin: 0px;
  
  
  
}
.info-servicos-usuario{
  
  background-color: #7159C1;
  color: #FFFFFF;    
  text-align: center;
  padding: 70px 30px;
  padding-bottom: 0%;
  -webkit-box-shadow: 9px 0px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 0px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 0px 5px rgba(50, 50, 50, 0.77);
  z-index: 1;
  width: 25%;
  margin: 0%;
}
.hr1{
  color: #FFFFFF;
  background-color: #FFFFFF;
  height: 1px;
  
}
.dados-servicos-usuario{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  padding-bottom: 0%;
  margin: 0px;
  
}
.dados-servicos-usuario th{
  text-align: left;
  color: #203573;
  
  
  
}
.tabelaContratante{
  width: 50%;
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px;
  
  
}
.tabelaPrestador{
  border-left:1px solid #BDBDBD;
  width: 50%;
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px;
  
  
}
.espaco-orcamento-usuario{
  width: 100%;
  height: 30px;
  background-color: #88BF36;
  z-index: 2;
  -webkit-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    0px 9px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         0px 9px 5px rgba(50, 50, 50, 0.77);
  
}
.rodape-orcamento-usuario{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.itens-orcamento-usuario{
  width: 100%;
  background-color: #AEB2F2;
  padding: 10px;
  color: #203573;
  
  
}
.detalhes-orcamento-usuario{
  width: 100%;
  padding: 30px 20px;
  color: #203573;
  }
  .detalhes-orcamento-usuario p{
    margin: 0px;
    display: inline;
  }
  #calendario-ou{
    background-image: url('/img/ou-bg-img1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
    
  }
  .itens-orcamento-usuario p{
    margin: 0px;
    display: inline;
  }
  .botaofinal-orcamento-usuario{
    display: flex;
    width: 100%;
    background-color: #88BF36;
    color: #ffffff;
    padding: 10px;
    padding-right: 0px;
    -webkit-box-shadow: 0px -9px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    0px -9px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         0px -9px 5px rgba(50, 50, 50, 0.77);
    
  }
  div.btns-ou{
    width: 90%;
  }
  div.link-ou{
    width: 10%;
  }
  button#btnrejeitar-ou{
    background-color: #88BF36;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 15%;
    padding: 0px 20px;
    margin: 15px;
  }
  button#btnaceito-ou{
    background-color: #203573;
    color: #ffffff;
    border: 2px solid #7159C1;
    border-radius: 15%;
    padding: 0px 20px;
    margin: 15px;
  }
  button#btnpagar-ou{
    background-color: #7159C1;
    color: #ffffff;
    border: 2px solid #A094F2;
    border-radius: 15%;
    padding: 0px 20px;
    margin: 15px;
    margin-right: 10px;
    float: right;
  }
  .botaofinal-orcamento-usuario a{
    content:  url('/img/setaDireitaou.png');
    float: right;
    padding-right: 0px;

  }
  .especificacoes-o-u{
    float: right;

  }
  .tr-ou-bgcolor1{
    background-color: #ffffff;
  }
.inicio-servico{
  width: 50%;
  padding: 0px 20px;
  
}
.inicio-garantia{
  width: 50%;
  padding: 0px 20px;
  
}

.hr2{
  color: #BDBDBD;
  background-color: #BDBDBD;
  height: 1px;
  width: 100%;

}
.titulob{
  padding: 10px;
  font-size: 20px;

}
.op1{
  color: #FFFFFF;
  background-color: #FFC327;
  padding: 5px;

}
.op2{
  color: #FFFFFF;
  background-color: #203573;
  padding: 5px;

}
.detalhes-orcamento-usuario{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  
  
}

.produtos-checkbox{
  float: left;
  width: 50%;
  padding: 20px;
 
}
.form-itens-orca-usuario{
  float: left;
  width: 50%;
  padding: 20px;
}
.resumo-ou-ap{
  float: left;
  width: 50%;
  padding: 20px;
  padding-bottom: 0%;
  border-left: 1px solid #BDBDBD;
  
}
.especificacoes-ou{
  float: left;
  width: 50%;
  padding: 20px;
  
}
td.td-ou{
  padding: 2px;
}
thead.cabecalho-ou{
  background-color: #203573;
  color: #ffffff;
}
tr.tr-ou-bgcolor{
  background-color: #AEB2F2;
}

table.table-bordered-2{
  margin-bottom: 0%;
}
.bg-imgs-ou{
  width: 100%;
  color: #203573;
  }
div.resumo-ou{
  padding: 30px 20px;
}
table#tableButton-ou tr td{
  cursor: pointer;
}
div.calendario-ou{
  width: 50%;
}

table#tableButton-ou td:hover {
  background-color: #CFCFCF;
}
table#tableButton-ou td.selecionado {
  background-color: #28a745;
  -webkit-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    5px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         5px 5px 5px rgba(50, 50, 50, 0.77);
}



/*fim orcamento-usuario---------------*/

/*---------Area Chat----------------------------------------------*/
.container-chat{
  background-color: #ffffff;
  height: 400px;
  width: 100%;
  border-radius: 5px;
  overflow-y: scroll;
}
.container-chat::-webkit-scrollbar{
  width: 10px;
}
.container-chat::-webkit-scrollbar-track {
  background: #A094F2 ; 
  border-radius: 0px 5px 5px 0px;
  
}
.container-chat::-webkit-scrollbar-thumb {
  background: #7159C1; 
  border-radius: 5px;
}

.container-menssage{
  height: 120px;
  width: 100%;
  margin-bottom: 1px;
  display: flex;
 
}
/*Lista do chat*/
.avatar-chat{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203573;
} 
.avatar-chat img{
  max-width: 90px;
}

.chat-content-main{
  width: 70%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  
}

.chat-content-main .title, .chat-content-main .menssage, .chat-content-main .status{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-content-main .menssage{
  color: rgb(97, 97, 97);
}
.chat-content-main .status{
  display: flex;
  align-items: center;
  font-size: 10px;
  justify-content: space-between;
}
.color-notification{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #28a745;
  margin-right: 4px;
}

.notify-new-menssage{
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-left: solid 1px #203573;
}
.notify-new-menssage .news{
  width: 90%;
  height: 30px;
  background-color: #A094F2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.notify-new-menssage .news img{
  width: 20px;
  height: 20px;
}
/*------------Fim Area Chat-----------------------------------------*/
/*-----------Inicio Login Admin---------------------*/

.register-user{
  width: 100vw;
  height: 100vh;
  min-height: 440px;
  background-image: linear-gradient(to right, #203573 , #A094F2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-register{
  display: flex;
  width: 600px;
  box-shadow: 10px 15px 45px #000000;
  border-radius: 10px;
}
.left-register, .rigth-register{
  display: flex;
  flex-direction: column;
}
.left-register{
  align-items: center;
  background-color: #A094F2;
  border-radius: 10px 0px 0px 10px;
  width: 40%;
}
.left-register *{
  color: #ffffff;
}
.left-register h1{
  margin-top: 5px;
  color: #ffffff;
  border-bottom: solid 1px;
  font-size: 32px;
  
}
.tools-logo{
  width: 120px;
}
.icon-login{
  width: 200px;
}
.left-register p{
  font-size: 14px;
  text-align: center;
}
.right-register{
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  width: 60%;
  padding: 30px;
}
.right-register form{
  display: flex;
  flex-direction: column;
}
.title-input{
  font-size: 12px;
  color: #bbbbbb;
}
.input-text{
  padding: 10px;
  border: none;
  border-bottom: solid 1px #bbbbbb;
  margin-bottom: 20px;
}
.input-text:focus{
  outline: none;
  border-color: #A094F2;   
}
.btn-register{
  border-radius: 6px;
  border: none;
  color: #ffffff;
  background-color: #203573;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-register:hover{
  background-color: #A094F2;
}
.alert-register{
  margin-top: 4px;
  font-size: 12px;
  color: #bbbbbb;
}
.alert-register a{
  text-decoration: none;
  color: #203573;
}
.alert-register a:hover{
  text-decoration: none;
  color: #A094F2;
}
@media(max-width:610px){
  .form-container-register{
      flex-direction: column; 
      max-width: 300px;
  }
  .left-register{
      width: 100%;
      border-radius: 10px 10px 0px 0px;
      min-height: 80px;
  }
  .left-register img{
      display: none;
      
  }
  .right-register{
      width: 100%;
      padding: 0px;
      border-radius: 0px 0px 10px 10px;
  }
  .right-register form{
      padding: 30px;
  }
  
}
/*-----------Fim login Admin--------------------------*/



/* --------cards notificação LU-------------------------------------------------------------------- */
/* padrao de fundo e fonte dos cards e li azuis */
.cardUsuarioAzul, .cardUsuarioAzul ul li{
  background: linear-gradient(53.97deg, #203573 51.16%, rgba(51, 89, 203, 0.81) 97.01%);
  color: #ffffff;
  font-size: 0.8rem;
}
/* padrao de fundo e fonte dos cards e li verdes */
.cardUsuarioVerde, .cardUsuarioVerde ul li{
  background: linear-gradient(55.49deg, #88BF36 70.88%, #A0FF13 97.13%);
  color: #ffffff;
  font-size: 0.8rem;
}

/* alteração da cor da fonte em cima da classe do bootstrap */
.card-link{
  color: #ffffff;
}
.card-link:hover{
  color: #000000;
}

/* mais informações dos cards */
.card-body ul li span.badge-light{
  background: none;
  float: right;
}
.card-body ul li span img {
  width: 15px;
}

/* cor das notificações status */
.card-body ul li span.badge-success{
  color: #28a745;
  border: 1px solid #FFFFFF;
}
.card-body ul li span.badge-danger{
  color: #dc3545;
  border: 1px solid #FFFFFF;
}
.card-body ul li span.badge-info{
  color: #17a2b8;
  border: 1px solid #FFFFFF;
}

/* estrelas avaliação usuario */
.starCard {
  height: 18px;
}

/* Configuração responsiva */
@media (max-width: 894px) {
/* textos dos cards */
.cardUsuarioAzul ul li, .cardUsuarioVerde ul li {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: 0.7rem;
}

/* titulo dos cards */
.cardUsuarioAzul h6, .cardUsuarioVerde h6 {
  display: block;
  font-size: 0.8rem;
}

/* estrelas avaliação usuario */
.starCard {
  height: 13px;
}
}

/* card notificações mobile */
.cardMobile {
display: none;
}
/* Configuração mobile */
@media (max-width: 620px){
.cards {
  display: none;
}
.cardMobile {
  display: block;
}

/* setas slide */
.setaEsq{
  position: absolute;
  left: 10px;
}
.setaDir{
  position: absolute;
  right: 10px;
}
}
/* -------fim cards notificação---------------------------------------------- */
/* -------subtela pedidos contratante LU------------------------------------- */
/* icon topo card pedido */
.navExpandir{
height: 75px;
}
.iconPedidos{
height: 95%;
}
.setaDetalhes{
background-blend-mode: soft-light;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* card pedidos */
.topoCardPedido{
position: relative;
box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
height: 75px;
z-index: 2;
cursor: pointer;
}
.statusCardPedido{
box-shadow: 9px 0px 10px rgba(0, 0, 0, 0.6);
color: #ffffff;
z-index: 1;
}
.dadosPrestador {
height: 40%;
}
.dadosServico {
height: 60%;
}
.iconPrestadorCard {
height: 100%;
padding: 15px 0;
}
.iconPrestadorCard img {
width: 70px;
box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}
.valorCardPedido{
height: 40%;
}
.orcamentoCardPedido{
height: 60%;
}
.dadosListaPedido li{
height: 23px;
}
.datasListaPedido li:nth-child(odd){
height: 23px;
background-color: #AEB2F2;
}
.datasListaPedido li:nth-child(even){
background-color: rgb(193, 197, 252);
}

.tabelaParcelas {
font-size: 0.65rem;
}
.tabelaParcelas tbody tr td {
padding: 0;
margin: 0;
}
.tabelaParcelas tbody tr:nth-child(odd){
height: 23px;
background-color: #AEB2F2;
}
.tabelaParcelas tbody tr:nth-child(even){
height: 23px;
background-color: #FFFFFF;
}
.tabelaParcelas tbody tr td{
padding-left: 8px;
padding-right: 8px;
}

/* alteração do fundo hover em cima da classe bootstrap */
.dadosListaPedido .list-group-item-action:hover:nth-child(even){
background-color: #AEB2F2;
}
.dadosListaPedido .list-group-item-action:hover:nth-child(odd){
background-color: #A094F2;
}

.iconValor{
height: 100%;
padding: 10px;
}
.iconValor img{
height: 70px;
box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}
.valoresCardPedido{
height: 100%;
font-size: 0.8rem;
}

/* utilits cor */
.bg-roxoClaro{
background-color: #AEB2F2 !important;
}
.bg-roxoFundo{
  background-color: rgb(213, 216, 255) !important;
  }
.bg-roxoRS{
  background-color: #7159C1 !important;
  }
.bg-roxo{
background-color: #A094F2 !important;
}
.bg-azul{
background-color: #203573 !important;
}
.text-azul{
color: #203573 !important;
}
.text-roxoRS{
color: #7159C1 !important;
}
/* utilities tamanho */
.h-10 {
  height: 10%!important;
}
.h-13 {
  height: 13%!important;
}
.h-20 {
  height: 20%!important;
}
.h-25 {
  height: 25%!important;
}
.h-30 {
  height: 30%!important;
}
.h-35 {
  height: 35%!important;
}
.h-40 {
  height: 40%!important;
}
.h-50 {
  height: 50%!important;
}
.h-60 {
  height: 60%!important;
}
.h-70 {
  height: 70%!important;
}
.h-80 {
  height: 80%!important;
}
.h-90 {
  height: 90%!important;
}


/* Configuração mobile */
@media (max-width: 872px){
.orcamentoCardPedido {
  display: flex;
  justify-content: space-around;
}
}
@media (max-width: 832px){
.tabelaParcelas {
  margin-left: 5px;
}
.orcamentoCardPedido {
  display: flex;
  justify-content: space-around;
}
}
.parcelaMobile{
display: none;
}
@media (max-width: 831px){
.tabelaParcelas
{
  display: none;
}
.parcelaMobile{
  display: block;
}
.orcamentoCardPedido{
  padding: 0;
}
.iconParcela{
  height: 100%;
  padding: 10px;
}
.iconParcela img{
  height: 70px;
}
}
.dadosPrestadorServicos{
height: 100%;
}
@media (max-width: 767px){
.tabelaParcelas{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.orcamentoCardPedido{
  width: 100%;
}
.tabelaParcelas thead, .tabelaParcelas tbody {
  width: 100%;
}
.tabelaParcelas thead tr, .tabelaParcelas tbody tr{
  width: 100%;
  display: flex;
  align-items: center;
  height: 35px;
  margin-top: 6px;
}
.tabelaParcelas thead tr th, .tabelaParcelas tbody tr td{
  width: 100%;
  height: 35px;
  font-size: 1rem;
  padding: 4px;
  text-align: center;
}

.parcelaMobile{
  display: none;
}
.dadosServico {
  height: 50%;
}
.dadosPrestadorServicos{
  height: 90%;
}
.iconPrestadorCard{
  padding: 15px 0;
}
.iconPrestadorCard img{
  width: 20%;
}
.valoreParcelasMobile{
  width: 100%;
}
.orcamentoCardPedido {
  width: 100%;
}
}
/* -------fim subtela pedidos contratante LU--------------------------------- */
/* -------inicio subtela meus dados contratante LU--------------------------- */
.sanfonaTopoMeusDados{
background-color: #203573;
padding: 5px 15px;
}
.sanfonaTopoMeusDados h5 button img{
height: 45px;
text-decoration: none;
}
.sanfonaTopoMeusDados h5 button:hover{
text-decoration: none;
color: #88BF36;
}
.sanfonaTopoMeusDados h5 button:focus{
text-decoration: none;
color: #88BF36;
}
.tituloSanfonaTopoMeusDados{
font-style: normal;
font-weight: normal;
font-size: 1rem;
letter-spacing: 0.29em;
text-transform: uppercase;

color: #FFFFFF;
}

.etiquetaCampo{
background-color: #7159C1;
border-color: #7159C1;
color: #ffffff;
}
.campoDadoReadonly[readonly] {
background-color: #ffffff;
opacity: 1;
color: #203573;
}

.campoMeusDadosStyle:focus {
border-color: rgb(113, 89, 193);
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
}
.campoMeusDadosStyle{
padding: 6px 5px;
}

.botaoMeusDados{
background-color: #7159C1;
border-color: #7159C1;
color: #ffffff;

text-transform: uppercase;
}
button.botaoMeusDados:focus{
outline: 0;
border-color: #88BF36;
background-color: #88BF36;
border-color: #7159C1;
color: #203573;
font-weight: bold;
box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
}
button.botaoMeusDados:active{
outline: 0;
border-color: #88BF36;
background-color: #88BF36;
border-color: #7159C1;
color: #203573;
font-weight: bold;
box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
}
button.botaoMeusDados:hover{
border-color: #88BF36;
background-color: #88BF36;
border-color: #7159C1;
color: #203573;
font-weight: bold;
box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
}
.botaoMeusDados img{
height: 24px;
}

.perfilMeusDados{
border-radius: 50%;
border: 3px solid #7159C1;
}

.rodapeMeusDadosSanfona{
width: 100%;
height: 50px;
border-radius: 0 0 5px 5px;
}
/* modal... */
.fecharModal {
color: #ffffff;
text-shadow: 0 1px 0 #000;
}

.enviarFoto img{
height: 50px;
padding: 0 4px;
}

.custom-file-input:focus {
border-color: rgb(113, 89, 193);
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
}
/* -------fim subtela meus dados contratante LU--------------------------------------------- */
/* -------fim subtela pedidos contratante LU------------------------------------------------ */

/* -------home LU--------------------------------------------- */
/* slide Home */
#slideHome span.carousel-control-prev-icon {
  background-image: url(/img/setaGlassVoltar.png);
  width: 45px;
  height: 45px;
}
#slideHome span.carousel-control-next-icon {
  background-image: url(/img/setaGlassIr.png);
  width: 45px;
  height: 45px;
}
#slideHome ol.carousel-indicators li {
  width: 12px!important;
  height: 12px!important;
  border-radius: 50%;
  background-color: #7159C1;
}
#slideHome ol.carousel-indicators {
  margin-bottom: 1px;
}

.sessaoHomeBuscar{
  height: 450px;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 0.01%, #FFFFFF 58.33%, #A094F2 100%);
}
.sessaoHomeBuscar div.container-fluid,  
.sessaoHomeBuscar div.container-fluid div.row
{
  height: 100%;
  width: 100%;
}

.colunaBuscarInput, .colunaBuscarImg{
  height: 100%;
}

.colunaBuscarImg img {
  width: 100%;
  margin: 0;
}

.campoBuscarStyle{
  background-color: rgba(32, 53, 115,.25);
  box-shadow: inset 0px 6px 10px rgba(32, 53, 115,.25);
  border-color: rgb(32, 53, 115);
}
input.campoBuscarStyle::placeholder{
  color: rgba(32, 53, 115,.80);
}

.campoBuscarStyle:focus {
  border-color: rgb(113, 89, 193);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
  }
  
  .botaoBuscar{
  background-color: #203573;
  border-color: #203573;
  color: #ffffff;
  
  text-transform: uppercase;
  }
  button.botaoBuscar:focus{
  outline: 0;
  border-color: #88BF36;
  background-color: #88BF36;
  border-color: #7159C1;
  color: #203573;
  font-weight: bold;
  box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
  }
  button.botaoBuscar:active{
  outline: 0;
  border-color: #88BF36;
  background-color: #88BF36;
  border-color: #7159C1;
  color: #203573;
  font-weight: bold;
  box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
  }
  button.botaoBuscar:hover{
  border-color: #88BF36;
  background-color: #88BF36;
  border-color: #7159C1;
  color: #203573;
  font-weight: bold;
  box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
  }

  
.sessaoHomePrestadores{
  height: 90vh;
  background-color: #A094F2;

  
}
.scroolCardsPrestadorHome{
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;

  background-color: transparent;
  overflow-x: scroll;
}
.cardPrestador{
  min-width: 250px;
  max-width: 250px;
  background-color: pink;

  background: linear-gradient(180deg, #203573 27.6%, #FFFFFF 27.61%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  border-radius: 10px;
}

.avatarCardPrestador{
  height: 115px;
}
.notaCardPrestador{
  width: 40px;
  height: 40px;
}

.scroolCardsPrestadorHome::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.scroolCardsPrestadorHome::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(113, 89, 193,.50); 
  border-radius: 10px;
}
 
/* Handle */
.scroolCardsPrestadorHome::-webkit-scrollbar-thumb {
  background: rgb(113, 89, 193); 
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(113, 89, 193,.50);
}

/* Handle on hover */
.scroolCardsPrestadorHome::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 53, 115);
}

.sessaoGradienteRB{
  height: 90vh;
  background: linear-gradient(360deg, #FFFFFF 17.71%, rgba(255, 255, 255, 0.39) 66.15%, rgba(160, 148, 242, 0.49) 82.29%, #A094F2 100%);
}
.sessaoComoFuncionaContratante{
  width: 100%;
  height: 100%;

  background-image: url(/img/ondaHomeTopo.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
}

.h-90px {
  height: 90px!important;
}

.circuloEtapas {
  width: 60px;
  height: 60px;

  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.etapaContratante{
  height: 60px;
  width: 100%;
  background-color: #A094F2;
  border-color: #A094F2;
  color: #203573;

  border-radius: 10px;

  font-weight: bold;
  text-align: center;
}

.etapa:hover div.circuloEtapas, .etapa:hover div.etapaContratante{
  border-color: #88BF36;
  background-color: #88BF36;
  border-color: #7159C1;
  color: #203573;
  font-weight: bold;
  box-shadow: 0 0 0 0.2rem rgba(113, 89, 193,.25);
}

.imgEtapaContratante img{
  height: 280px;

/* -------fim home LU------------------------------------------------ */
/* -------inicio contato LU------------------------------------------------ */

.corpoContato{
  background-image: url(/img/ondaHomeTopo.svg);
  background-repeat: no-repeat;
  background-position: 100% 51%;
}

.formContatoSistema{
  background-color: rgba(32, 53, 115,.50);
  color: #203573;
  font-weight: bold;
}

/* -------fim contato LU------------------------------------------------ */

/* ----------Começo Login Selecione - Kevin--------------*/

.login-selecione {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(125deg, rgba(113,89,193,1) 48%, rgba(174,178,242,1) 50%);
  height: 40rem;
}

<<<<<<< HEAD
.titulos-setas {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14rem;
  width: 40rem;
}

.titulos-setas .texto-prestador {
=======
section .texto-prestador {
>>>>>>> c04aa77d087a8efea7b7d0125dbd7f4ca8e7428f
  align-self: flex-start;
  color: #A094F2;
  text-align: right;
  width: 13rem;
}

.titulos-setas .texto-prestador h3 {
  margin-bottom: 0;
}

.titulos-setas .texto-contratante {
  align-self: flex-end;
  color: #7159c1;
  width: 12rem;
  margin-left: 1rem;
}

.titulos-setas .texto-contratante h3 {
  margin-bottom: 0;
}

.entre-prestador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  height: 50vh;
  width: 28vw;
  margin-top: 4rem;
}

.entre-prestador img {
  width: 400px;
}

.entre-prestador a {
  border: 2px solid #aeb2f2;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
}

.entre-prestador a:hover {
  background-color: #aeb2f2;
  color: #7159c1;
}

.entre-contratante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  height: 50vh;
  width: 30vw;
}

.entre-contratante img {
  width: 500px;
}

.entre-contratante a {
  border: 2px solid #7159c1;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
}

.entre-contratante a:hover {
  background-color: #7159c1;
  color: #aeb2f2;
}

/* ------------Fim Login Selecione - Kevin---------------*/

/* -----------Começo Login Prestador - Kevin-------------*/

.login-prestador {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7159c1;
  height: 40rem;
}

.login-prestador .img-prestador {
  max-width: 580px;
  margin-right: 2rem;
}

.form-prestador h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.form-prestador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #AEB2F2;
  border-radius: 5px;
  height: 35rem;
  width: 23rem;
  margin-left: 2rem;
}

.form-prestador form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-prestador form .campo-prestador {
  background-color: #7159c1;
  border: 2px solid #7159c1;
  border-radius: 5px;
  color: #AEB2F2;
  font-size: 12pt;
  font-weight: 500;
  margin-bottom: 15px;
  height: 2.5rem;
  width: 18rem;
  padding-left: 5px;
}

 .form-prestador form .campo-prestador::placeholder {
  color: #AEB2F2;
  font-weight: 500;
  padding-left: 2px;
}

.form-prestador form .check-prestador {
  align-self: flex-start;
  color: #7156c1;
  cursor: pointer;
  font-size: 11pt;
  font-weight: 500;
  margin-left: 8px;
  margin-bottom: 10px;
}

.form-prestador form .check-prestador:hover {
  color: #ffffff;
}

.form-prestador form .check-prestador #checkbox-lembrePrestador[type=checkbox] {
  cursor: pointer;
}

.form-prestador form .entrar-prestador {
  background-color: #AEB2F2;
  border: 3px solid #7156c1;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding: 0.2rem 2rem;
}

.form-prestador .entrar-prestador:hover {
  background-color: #7156c1;
  color: #AEB2F2;
}

.form-prestador p {
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 2px;
}

.form-prestador .faca-loginPrestador {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border: 5px solid #7159c1;
  border-radius: 5px;
  height: 3rem;
  width: 10rem;
}

.form-prestador .faca-loginPrestador img, a+img{
  width: 28px;
}

.form-prestador #esqueceu-prestador {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  margin-top: 2rem;
}

.form-prestador #esqueceu-prestador:hover {
  color: #7159c1;
}

/* -----------Fim Login Prestador - Kevin--------------*/

/* ---------Começo Login Contratante - Kevin-----------*/

.login-contratante {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AEB2F2;
  height: 40rem;
}

.login-contratante .img-contratante {
  max-width: 600px;
  margin-left: 2rem;
}

.form-contratante h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.form-contratante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7159c1;
  border-radius: 5px;
  height: 35rem;
  width: 23rem;
  margin-right: 2rem;
}

.form-contratante form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-contratante form .campo-contratante {
  background-color: #aeb2f2;
  border: 2px solid #aeb2f2;
  border-radius: 5px;
  color: #7159c1;
  font-size: 12pt;
  font-weight: 500;
  margin-bottom: 15px;
  height: 2.5rem;
  width: 18rem;
  padding-left: 5px;
}

 .form-contratante form .campo-contratante::placeholder {
  color: #7159c1;
  font-weight: 500;
  padding-left: 2px;
}

.form-contratante form .check-contratante {
  align-self: flex-start;
  color: #aeb2f2;
  cursor: pointer;
  font-size: 11pt;
  font-weight: 500;
  margin-left: 8px;
  margin-bottom: 10px;
}

.form-contratante form .check-contratante:hover {
  color: #ffffff;
}

.form-contratante form .check-contratante #checkbox-lembreContratante[type=checkbox] {
  cursor: pointer;
}

.form-contratante form .entrar-contratante {
  background-color: #7156c1;
  border: 3px solid #aeb2f2;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding: 0.2rem 2rem;
}

.form-contratante .entrar-contratante:hover {
  background-color: #aeb2f2;
  color: #7156c1;
}

.form-contratante p {
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 2px;
}

.form-contratante .faca-loginContratante {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border: 5px solid #aeb2f2;
  border-radius: 5px;
  height: 3rem;
  width: 10rem;
}

.form-contratante .faca-loginContratante img, a+img{
  width: 28px;
}

.form-contratante #esqueceu-contratante {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  margin-top: 2rem;
}

.form-contratante #esqueceu-contratante:hover {
  color: #aeb2f2;
}

<<<<<<< HEAD
/* ---------Fim Login Contratante - Kevin-----------*/

/* -------Começo Cadastro selecione - Kevin---------*/

.cadastro-selecione {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40rem;
  width: 99vw;
}

.cadastro-selecione1 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #7156c1;
  color: #ffffff;
  height: 100%;
  width: 50%;
}

.cadastro-selecione1 h3 {
  border: 3px solid #aeb2f2;
  border-radius: 7px;
  padding: 0.5rem;
}

.cadastro-selecione1 img {
  width: 450px;
}

.cadastro-selecione1:hover {
  color: #aeb2f2;
  transition: 0.3s;
  transform: scale(1.1);
  z-index: 5;
}

.cadastro-selecione2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aeb2f2;
  color: #ffffff;
  height: 100%;
  width: 50%;
}

.cadastro-selecione2 h3 {
  border: 3px solid #7159C1;
  border-radius: 7px;
  padding: 0.5rem;
}

.cadastro-selecione2 img {
  width: 600px;
}

.cadastro-selecione2:hover {
  color: #7a63c0;
  transition: 0.3s;
  transform: scale(1.1);
  z-index: 5;
}

/* ---------Fim Cadastro selecione - Kevin----------*/

/* -------Começo Cadastro prestador - Kevin---------*/

.cadastro-prestador {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aeb2f2;
  height: 85rem;
}

.form-cadastroPrestador {
  background-color: #7159c1;
  border-radius: 1rem;
  box-shadow: -10px 12px 10px 5px #000000a1;
  height: 78rem;
}

.form-cadastroPrestador > .prestador-titulo, .prestador-subTitulo {
  color: #88BF36;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-cadastroPrestador > form > .form-row > .form-group > label {
  color: #a094f2;
  cursor: pointer;
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;
}

.form-cadastroPrestador > form > .form-row > .form-group > input {
  border: 3px solid #a094f2;
  border-radius: 5px;
  color: #7156c1;
  cursor: pointer;
  font-size: 11pt;
  font-weight: 500;
}

.form-cadastroPrestador > form > .form-row > .form-group > input::placeholder {
  color: #7156c1;
  font-size: 11pt;
  font-weight: 500;
}

.form-cadastroPrestador > form > .form-row > .form-group > select {
  border: 3px solid #a094f2;
  border-radius: 5px;
  color: #7156c1;
  cursor: pointer;
  font-size: 11pt;
  font-weight: 500;
}

.form-cadastroPrestador > form > .form-row > .form-group > select > option {
  color: #7156c1;
  font-size: 11pt;
  font-weight: 500;
}

.form-cadastroPrestador > form > button {
  background-color: #88BF36;
  border: 1px solid #88BF36;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14pt;
  font-weight: 500;
  height: 2.5rem;
  width: 8rem;
  margin-top: 1rem;
}

.form-cadastroPrestador > form > button:hover {
  background-color: #89b645;
  transition: 0.2s;
}

/* ---------Fim Cadastro prestador - Kevin----------*/

/* -----Começo Cadastro contratante - Kevin--------*/

.cadastro-contratante {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7156c1;
  height: 70rem;
}

.form-cadastroContratante {
  background-color: #aeb2f2;
  border-radius: 1rem;
  box-shadow: -10px 12px 10px 5px #000000a1;
  height: 60rem;
}

.form-cadastroContratante > .contratante-titulo, .contratante-subTitulo {
  color: #638a29;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-cadastroContratante > form > .form-row > .form-group > label {
  color: #7156c1;
  cursor: pointer;
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;
}

.form-cadastroContratante > form > .form-row > .form-group > input {
  border: 3px solid #7156c1;
  border-radius: 5px;
  color: #a094f2;
  cursor: pointer;
  font-size: 11pt;
  font-weight: 500;
}

.form-cadastroContratante > form > .form-row > .form-group > input::placeholder {
  color: #a094f2;
  font-size: 11pt;
  font-weight: 500;
}

.form-cadastroContratante > form > .form-row > .form-group > select {
  border: 3px solid #7156c1;
  border-radius: 5px;
  color: #a094f2;
  cursor: pointer;
  font-size: 11pt;
  font-weight: 500;
}

.form-cadastroContratante > form > .form-row > .form-group > select > option {
  color: #a094f2;
  font-size: 11pt;
  font-weight: 500;
}

.form-cadastroContratante > form > button {
  background-color: #89b645;
  border: 1px solid #89b645;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14pt;
  font-weight: 500;
  height: 2.5rem;
  width: 8rem;
  margin-top: 1.5rem;
}

.form-cadastroContratante > form > button:hover {
  background-color: #93c549;
  border: 1px solid #93c549;
  transition: 0.2s;
}

/* ------Fim Cadastro contratante - Kevin-------*/
=======
/* --------------Fim Login Selecione------------------*/

/*pagamentos--------------------------------------------*/

.btn.btn-primary.btn-lg.btn-block{
  background-color: #88BF36;
  border-color: #88BF36;
}
.btn.btn-pagamentos {
  background-color: #203573;

}
.info-servicos-pagamentos{
  display: flex;
  background-color: #7159C1;
  color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.77);


}
.espaco-orcamento-pagamentos{
  width: 100%;
  background-color: #7159C1;
  height: 30px;
  -webkit-box-shadow: 0px -5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    0px -5px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         0px -5px 5px rgba(50, 50, 50, 0.77);

}
.pagdireita{
  float: left;
  width: 50%;
  padding: 20px;
  padding-right: 30px;
  padding-bottom: 0%;
}
.pagesquerda{
  width: 50%;
  padding: 20px;
  padding-right: 30px;
  padding-bottom: 0%;
}
>>>>>>> c04aa77d087a8efea7b7d0125dbd7f4ca8e7428f
