@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html,
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

/*Inicio Header-------------------*/

.nav-custom-bofl {
  display: flex;
  background-color: #7159C1;
  border-bottom: solid 2px #A094F2;
}

.btn-cadastro-custom-bofl {
  color: #A094F2;
  border: 2px solid #A094F2;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
  color: #ffffff;
  margin-right: 10px;
  font-size: 1em;
}

.btn-cadastro-custom-bofl:hover {
  color: #A094F2;
  border: 2px solid #A094F2;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
  color: #ffffff;
  margin-right: 10px;
  font-size: 1em;
}

a.btn.btn-outline.my-2.my-sm-0.btn-cadastro-custom-bofl {
  height: 35px;
  padding-top: 2px;
}

.btn-login-custom-bofl {
  padding: 3.2px 10px 1px 2px;
  border-radius: 50px;
  background: #88BF36;
  color: #ffffff;
  font-size: 1em;



}

.btn-login-custom-bofl:hover {
  color: #7159C1;
  padding: 3.2px 10px 1px 2px;
  border-radius: 50px;
  background: #88BF36;
  font-size: 1em;



}

a.btn.btn-login-custom-bofl {
  height: 35px;

}

.btnI-custom-bofl {
  padding: 8px;
}

svg.icon-bofl {

  text-align: center;
  margin-right: 5px;
}

a.icon-bofl {
  padding-top: 8px;
  text-align: center;
  margin-right: 8px;
}

.sobreNos{
  padding: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.sobreNos h3{
  color: #203573;
}

.sobreNos p{
  width: 100%;
}

.sobreNos .github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem;
}

.sobreNos .github h4 {
  color: #203573;
}

.sobreNos .github .perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 160px;
}

.perfil .pf-foto {
  border: solid 4px #7159C1;
  border-radius: 100%;
  width: 90px;
  height: 90px;
}

.pf-foto img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.perfil .pf-cont p {
  color: #7159C1;
 }

.perfil .pf-cont a {
 display: flex;
 justify-content: center;
 align-items: center;
 color: #203573;
 text-decoration: none;
}

.perfil .pf-cont a:hover {
  color: #ffffff;
  text-decoration: none;
 }

.pf-cont a img {
  max-width: 18px;
  margin-right: 0.2rem;
}

@media (max-width:768px) {
  .sobreNos{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    text-align: center;
    align-self: center;
  }
  .sobreNos p{
    width: 100%;
  }
}


@media (min-width:768px) {

  .nav-mob-bofl {
    display: none;
    overflow: hidden;
    position: relative;

  }

  .btn-cadastro-custom-bofl {
    color: #A094F2;
    border: 3px solid #A094F2;
    margin-left: 10px;
    color: #ffffff;

  }

  .btn-cadastro-custom-bofl:hover {
    color: #7159C1;
    background-color: #A094F2;
  }
}

@media (max-width:768px) {
  .nav-desk-bofl {
    display: none;
    overflow: hidden;
    position: relative;

  }
}

@media (max-width:575px) {
  .sobreNos {
    padding: 0;
  }

  .sobreNos .github .perfil {
    margin: 0.2rem;
    width: 140px;
  }
}

@media (max-width:360px) {
  .sobreNos .github .perfil {
    width: 110px;
  }

  .perfil .pf-cont p {
    font-size: 0.8em;
   }
  
  .perfil .pf-cont a {
    font-size: 0.8em;
  }
}

/*Fim Header-----------------------*/

/*Menu Navegação*/
.container-menu-principal {
  position: relative;
  
}

.nav-menu-principal {
  height: 10vh;
  width: 100%;
  background-color: #A094F2;
  

}

.menu-principal {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

@media (max-width:997px) {

  .menu-principal-itens,
  .menu-principal-itens-sub {
    font-size: 12px;
  }
}

.menu-principal-itens,
.menu-principal-itens-sub {
  background-color: #AEB2F2;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  transition: 0.2s;
}

.menu-principal-itens-sub img {
  width: 25px;
  transition: 0.2s;

}

.menu-principal-itens-sub-click {
  align-self: flex-end;
  height: 55px;
  border-radius: 5px 5px 0px 0px;
  transition: 0.2s;
}

.menu-principal-itens-sub-click img {
  transform: rotate(90deg);
}

/*sub menu categorias*/
.sub-menu-principal {
  background-color: #AEB2F2;
  display: none;
  height: 120px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
}

.sub-menu-principal-enable {
  position: relative;
  display: flex;
  z-index: 10;
}

.sub-menu-itens-principal {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  color: #203573;
  font-weight: bold;
}

.sub-menu-itens-principal:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #A094F2;
}

.sub-menu-principal li {
  cursor: pointer;
}

.icon-categoria-menu img {
  width: 60px;
  height: 60px;
  border-radius: 30px;

}

/*Menu mobile*/
/*Botão mobile*/
.btn-menu-hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  background-color: transparent;

  border: none;
  margin: 5px;
  padding: 3px;
}

.btn-menu-hamburguer div {
  width: 35px;
  height: 6px;
  background-color: #AEB2F2;
  border-radius: 5px;
}

/*fim botao*/
.nav-menu-principal-mobile {
  display: none;
  overflow: hidden;
  position: relative;
  z-index: 5;

}

.menu-principal-mobile {
  transition: 0.6s;

}

.menu-principal-mobile li {
  border-radius: 0;
  transition: 1s;
}

.menu-principal-mobile-fechar {
  margin-top: -100%;
}

.menu-principal-mobile-abrir {
  margin-top: 0%;

}

@media (max-width:768px) {
  .nav-menu-principal {
    display: none;
  }

  .nav-menu-principal-mobile {

    display: block;
  }

  .menu-principal-itens,
  .menu-principal-itens-sub {
    border-bottom: solid 1px #203573;
  }

  .btn-menu-hamburguer {
    display: flex;
  }

  .sub-menu-mobile-color {
    background-color: #AEB2F2;
    border-radius: 0;
  }

  .sub-menu-itens-principal {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    color: #203573;
    font-weight: bold;
    transition: 0.2s;
    border-bottom: solid 1px #203573;
  }

  .sub-menu-itens-principal:last-child {
    margin-bottom: 10px;
  }
}

/*Fim menu navegação*/

/* Configuração de todos ul e li */
ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;

}

a.btnContatoMN {
  text-decoration: none;
  color: #212529;
  ;
}

/* Configuração usar como margin dos includes padrão*/
.content-includes {
  height: 100%;
  width: 100%;
  max-width: 71.25rem;
}

/*---------Footer-------------*/
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A094F2;
  height: 18rem;
  max-height: 28rem;
  width: 100%;
}

.linksFooter {
  display: flex;
  justify-content: space-between;
  height: 12rem;
}

.linksFooter ul {
  width: 200px;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.linksFooter ul p {
  color: #7159C1;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.linksFooter ul li a img {
  width: 24px;
  max-width: 24px;
}

.linksFooter ul li a {
  align-self: flex-start;
  color: #212529;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin: 0.1rem 0;
}

.linksFooter ul li a:hover {
  color: #ffffff;
}

.subtituloImg p.newsletter {
  letter-spacing: 0.29em;
  text-align: center;
}

.newsletterCampos{
  display: flex;
  flex-direction: column;
}

.subtituloImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 4rem;
  margin-top: 0.8rem;
}

.subtituloImg p.textoSocial {
  letter-spacing: 0.10em;
  text-align: center;
  margin-bottom: 0.4rem;
}

.subtituloImg .footer-icons a {
  margin: 0 0.5rem;
}

.subtituloImg .footer-icons a img {
  height: 100%;
  width: 100%;
}

.imagem-rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203573;
  color: #ffffff;
  font-size: 11pt;
  font-weight: 500;
  width: 100%;
  height: 3rem;
  max-height: 3rem;
}

.imagem-rodape img {
  width: 80px;
  margin-right: 10px;
}

@media(max-width: 1024px) {
  .linksFooter ul {
    margin: 0;
  }
}

@media(max-width: 850px) {
  #linksFooter {
    display: flex;
    flex-direction: column;
  }

  .linksFooter ul p {
    font-size: 1em;
  }

  .subtituloImg p,
  .subtituloImg .footer-icons {
    padding-left: 0;
  }

  .footer-icons {
    justify-content: center;
  }

  .subtituloImg p {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }

  .subtituloImg .footer-icons a {
    width: 4rem;
    margin: 0 0.2rem;
  }
}

@media(max-width: 575px) {
  .container-footer {
    height: 28rem;
  }

  .linksFooter {
    justify-content: space-around;
    width: 100%;
  }

  .linksFooter ul {
    width: 120px;
    padding: 0.8rem 0 0 0.8rem;
    margin: 0;
  }

  .linksFooter ul p {
    font-size: 0.8em;
  }

  .linksFooter ul li a {
    font-size: 0.8em;
    font-weight: 500;
  }
}

@media(max-width: 390px) {
  .linksFooter ul {
    width: 90px;
    padding: 0.8rem 0 0 0.2rem;
    margin: 0;
  }

  .linksFooter ul p {
    font-size: 0.7em;
  }
}

.alert-newsletter{
  position: fixed;
  top:15px;
  width: 100%;
  text-align: center;
}
/* -------- Fim footer ---------- */

/*acompanhe usuario*/
.acompanheUsuario {
  width: 100%;
  height: 100%;
}

.itensAcompanheUsuario {
  text-align: left;
  padding: 20px;
}

.usuarioPedidos {
  display: block;
  background-color: #28a745;
  padding: 20px;
  border: 1px solid #28a745;
  margin: 10px;
}

.imagem-prestador {
  width: 30%;
  height: 30%;
  margin-left: 450px;
  margin-top: -180px;
}

.enviado {
  display: block;
  background-color: rgb(131, 87, 172);
  border: 10px solid rgb(131, 87, 172);
  color: white;
  text-align: center;
  height: 500px;
  width: 150px;
}

.imagem-enviado {
  width: 25%;
  height: 10%;
  margin-top: -40px;

}

.analise-card {
  display: block;
  background-color: rgb(245, 204, 20);
  border: 10px solid rgb(245, 204, 20);
  color: white;
  text-align: center;
  height: 500px;
  width: 150px;

}

.aceito-card {
  display: block;
  background-color: rgb(46, 155, 37);
  border: 10px solid rgb(46, 155, 37);
  color: white;
  text-align: center;
  height: 500px;
  width: 150px;
}

.andamento-card {
  display: block;
  background-color: rgb(37, 78, 155);
  border: 10px solid rgb(37, 78, 155);
  color: white;
  text-align: center;
  height: 500px;
  width: 150px;
}

.confirm {
  width: 100%;
  height: 100%;
  margin-left: 40px;


}

.analise {
  width: 100%;
  height: 100%;
  margin-left: 55px;

}

.aceito {
  width: 100%;
  height: 100%;
  margin-left: 70px;

}

.andamento {
  width: 100%;
  height: 100%;
  margin-left: 75px;

}

.negado-card {
  display: block;
  background-color: rgb(214, 69, 32);
  border: 10px solid rgb(214, 69, 32);
  color: white;
  text-align: center;
  height: 500px;
  width: 150px;
}

.pedido1 {
  width: 100%;
  height: 100%;
}

/*mobile  acompanhe*/

@media (max-width:768px) {

  /*acompanhe usuario*/
  .acompanheUsuario {
    width: 100%;
    height: 100%;
  }

  .itensAcompanheUsuario {
    text-align: left;
    padding: 20px;
  }

  .usuarioPedidos {
    display: block;
    background-color: #28a745;
    padding: 20px;
    border: 1px solid #28a745;
    margin: 10px;
  }

  .imagem-prestador {
    width: 30%;
    height: 30%;
    margin-left: 750px;
    margin-top: -180px;
  }

  .enviado {
    display: block;
    background-color: rgb(131, 87, 172);
    border: 10px solid rgb(131, 87, 172);
    color: white;
    text-align: center;
    height: 350px;
    width: 250px;



  }

  .imagem-enviado {
    width: 50%;
    height: 35%;
    margin-top: -60px;

  }

  .analise-card {
    display: block;
    background-color: rgb(245, 204, 20);
    border: 10px solid rgb(245, 204, 20);
    color: white;
    text-align: center;
    height: 350px;
    width: 250px;




  }

  .aceito-card {
    display: block;
    background-color: rgb(46, 155, 37);
    border: 10px solid rgb(46, 155, 37);
    color: white;
    text-align: center;
    height: 350px;
    width: 250px;
  }

  .andamento-card {
    display: block;
    background-color: rgb(37, 78, 155);
    border: 10px solid rgb(37, 78, 155);
    color: white;
    text-align: center;
    height: 350px;
    width: 250px;
  }

  .confirm {
    width: 100%;
    height: 100%;
    margin-left: 40px;


  }

  .analise {
    width: 100%;
    height: 100%;
    margin-left: 55px;

  }

  .aceito {
    width: 100%;
    height: 100%;
    margin-left: 70px;

  }

  .andamento {
    width: 100%;
    height: 100%;
    margin-left: 75px;

  }

  .negado-card {
    display: block;
    background-color: rgb(214, 69, 32);
    border: 10px solid rgb(214, 69, 32);
    color: white;
    text-align: center;
    height: 350px;
    width: 250px;
  }

}

/*----------------orcamento usuario - mobile ---------------*/
@media(max-width:724px) {

  .descricao-servico-usuario-bofl {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0px;
  }

  .info-servicos-usuario-bofl {

    background-color: #7159C1;
    color: #FFFFFF;
    text-align: center;
    padding: 70px 30px;
    padding-bottom: 0%;
    -webkit-box-shadow: 9px 0px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 0px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 0px 5px rgba(50, 50, 50, 0.77);
    z-index: 1;
    width: 100%;
    margin: 0%;
  }

  .hr1-bofl {
    color: #FFFFFF;
    background-color: #FFFFFF;
    height: 1px;

  }

  .dados-servicos-usuario-bofl {
    padding-bottom: 0%;
    margin: 0px;

  }

  .dados-servicos-usuario-bofl th {
    text-align: left;
    color: #203573;



  }

  .tabelaContratante-bofl {
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    margin: 0px;


  }

  .tabelaPrestador-bofl {

    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    margin: 0px;


  }

  .espaco-orcamento-usuario-bofl {
    width: 100%;
    height: 30px;
    background-color: #88BF36;
    z-index: 2;
    -webkit-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);

  }

  .rodape-orcamento-usuario-bofl {

    width: 100%;
  }

  .itens-orcamento-usuario-bofl {
    width: 100%;
    background-color: #AEB2F2;
    padding: 10px;
    color: #203573;


  }

  .detalhes-orcamento-usuario-bofl {
    width: 100%;
    padding: 30px 20px;
    color: #203573;
  }

  .detalhes-orcamento-usuario-bofl p {
    margin: 0px;
    display: inline;
  }

  #calendario-ou-bofl {
    background-image: url('/img/ou-bg-img1.png');
    background-repeat: no-repeat;
    background-size: 100%;


  }

  .itens-orcamento-usuario-bofl p {
    margin: 0px;
    display: inline;
  }

  .botaofinal-orcamento-usuario-bofl {
    display: flex;
    width: 100%;
    background-color: #88BF36;
    color: #ffffff;
    padding: 10px;
    padding-right: 0px;
    -webkit-box-shadow: 0px -9px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 0px -9px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0px -9px 5px rgba(50, 50, 50, 0.77);

  }

  div.btns-ou-bofl {
    width: 90%;
  }

  div.link-ou-bofl {
    width: 10%;
  }

  button#btnrejeitar-ou-bofl {
    background-color: #88BF36;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 15%;
    padding: 0px 20px;
    margin: 15px;
  }

  button#btnaceito-ou-bofl {
    background-color: #203573;
    color: #ffffff;
    border: 2px solid #7159C1;
    border-radius: 15%;
    padding: 0px 20px;
    margin: 15px;
  }

  #btnpagar-ou-bofl {
    background-color: #7159C1;
    color: #ffffff;
    border: 2px solid #A094F2;
    border-radius: 15%;
    padding: 0px 20px;


  }

  #iconeSetadireira-bofl {
    content: url('/img/setaDireitaou.png');
    float: right;
    padding-right: 0px;

  }

  .tr-ou-bgcolor1-bofl {
    background-color: #ffffff;
  }

  .inicio-servico-bofl {
    width: 50%;
    padding: 0px 20px;

  }

  .inicio-garantia-bofl {
    width: 50%;
    padding: 0px 20px;

  }

  .hr2-bofl {
    color: #BDBDBD;
    background-color: #BDBDBD;
    height: 1px;
    width: 100%;

  }

  .titulob-bofl {
    padding: 10px;
    font-size: 20px;

  }

  .op1-bofl {
    color: #FFFFFF;
    background-color: #FFC327;
    padding: 5px;

  }

  .op2-bofl {
    color: #FFFFFF;
    background-color: #203573;
    padding: 5px;

  }

  .detalhes-orcamento-usuario-bofl {
    overflow: hidden;

    justify-content: center;
    align-items: center;



  }

  .produtos-checkbox-bofl {
    float: left;
    width: 50%;
    padding: 20px;

  }

  .form-itens-orca-usuario-bofl {
    float: left;
    width: 50%;
    padding: 20px;
  }

  .resumo-ou-ap-bofl {

    width: 100%;

    padding-bottom: 0%;


  }

  .especificacoes-ou-bofl {

    width: 100%;


  }

  td.td-ou-bofl {
    padding: 2px;
  }

  thead.cabecalho-ou-bofl {
    background-color: #203573;
    color: #ffffff;
  }

  tr.tr-ou-bgcolor-bofl {
    background-color: #AEB2F2;
  }

  table.table-bordered-2-bofl {
    margin-bottom: 0%;
  }

  .bg-imgs-ou-bofl {
    width: 100%;
    color: #203573;
  }

  div.resumo-ou-bofl {
    padding: 30px 20px;
  }

  table#tableButton-ou-bofl tr td {
    cursor: pointer;
  }

  div.calendario-ou-bofl {
    width: 100%;
  }

  table#tableButton-ou-bofl td:hover {
    background-color: #CFCFCF;
  }

  table#tableButton-ou-bofl td.selecionado {
    background-color: #28a745;
    -webkit-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
  }

}

/*fim orcamento-usuario---------------*/

/*inicio orcamento-usuario---------------*/

.ac-bofl {
  background-color: #88BF36;
  color: #ffffff;

  padding: 0px;
  width: 100%;
  text-align: left;
  border: 1px solid white;
  transition: 0.4s;
  font: 20px;
  outline: none;
  -webkit-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
}

.ac-bofl::after {
  content: url("data:image/svg+xml, <svg class='bi bi-chevron-compact-down' width='2em' height='2em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.553 6.776a.5.5 0 01.67-.223L8 9.44l5.776-2.888a.5.5 0 11.448.894l-6 3a.5.5 0 01-.448 0l-6-3a.5.5 0 01-.223-.67z' clip-rule='evenodd'/></svg>");
  padding-right: 15px;
  font-size: 50px;
  float: right;
  margin-bottom: 0;
  color: #ffffff;
}

/*.active::after{
  /*content: url('/img/setaAcima.png'); 
  }*/
.pe-bofl {

  background-color: white;
  display: none;
  overflow: hidden;
  padding: 0%;
  margin: 0px;
}

.descricao-servico-usuario-bofl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0%;
  margin: 0px;



}

.info-servicos-usuario-bofl {

  background-color: #7159C1;
  color: #FFFFFF;
  text-align: center;
  padding: 70px 30px;
  padding-bottom: 0%;
  -webkit-box-shadow: 9px 0px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 9px 0px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 9px 0px 5px rgba(50, 50, 50, 0.77);
  z-index: 1;
  width: 25%;
  margin: 0%;
}

.hr1-bofl {
  color: #FFFFFF;
  background-color: #FFFFFF;
  height: 1px;

}

.dados-servicos-usuario-bofl {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  padding-bottom: 0%;
  margin: 0px;

}

.dados-servicos-usuario-bofl th {
  text-align: left;
  color: #203573;



}

.tabelaContratante-bofl {
  width: 50%;
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px;


}

.tabelaPrestador-bofl {
  border-left: 1px solid #BDBDBD;
  width: 50%;
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px;


}

.espaco-orcamento-usuario-bofl {
  width: 100%;
  height: 30px;
  background-color: #88BF36;
  z-index: 2;
  -webkit-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);

}

.rodape-orcamento-usuario-bofl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.itens-orcamento-usuario-bofl {
  width: 100%;
  background-color: #AEB2F2;
  padding: 10px;
  color: #203573;


}

.detalhes-orcamento-usuario-bofl {
  width: 100%;
  padding: 30px 20px;
  color: #203573;
}

.detalhes-orcamento-usuario-bofl p {
  margin: 0px;
  display: inline;
}

#calendario-ou-bofl {
  background-image: url('/img/ou-bg-img1.png');
  background-repeat: no-repeat;
  background-size: 100%;


}

.itens-orcamento-usuario-bofl p {
  margin: 0px;
  display: inline;
}

.botaofinal-orcamento-usuario-bofl {
  display: flex;
  width: 100%;
  background-color: #88BF36;
  color: #ffffff;
  padding: 10px;
  padding-right: 0px;
  -webkit-box-shadow: 0px -9px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px -9px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px -9px 5px rgba(50, 50, 50, 0.77);

}

div.btns-ou-bofl {
  width: 90%;
}

div.link-ou-bofl {
  width: 10%;
}

button#btnrejeitar-ou-bofl {
  background-color: #88BF36;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 15%;
  padding: 0px 20px;
  margin: 15px;
}

button#btnaceito-ou-bofl {
  background-color: #203573;
  color: #ffffff;
  border: 2px solid #7159C1;
  border-radius: 15%;
  padding: 0px 20px;
  margin: 15px;
}

#btnpagar-ou-bofl {
  background-color: #7159C1;
  color: #ffffff;
  border: 2px solid #A094F2;
  border-radius: 15%;
  padding: 0px 20px;
  margin: 15px;
  margin-right: 10px;
  float: right;
}

#iconeSetadireira-bofl {
  content: url('/img/setaDireitaou.png');
  float: right;
  padding-right: 0px;

}

.especificacoes-o-u-bofl {
  float: right;

}

.tr-ou-bgcolor1-bofl {
  background-color: #ffffff;
}

.inicio-servico-bofl {
  width: 50%;
  padding: 0px 20px;

}

.inicio-garantia-bofl {
  width: 50%;
  padding: 0px 20px;

}

.hr2-bofl {
  color: #BDBDBD;
  background-color: #BDBDBD;
  height: 1px;
  width: 100%;

}

.titulob-bofl {
  padding: 10px;
  font-size: 20px;

}

.op1-bofl {
  color: #FFFFFF;
  background-color: #FFC327;
  padding: 5px;

}

.op2-bofl {
  color: #FFFFFF;
  background-color: #203573;
  padding: 5px;

}

.detalhes-orcamento-usuario-bofl {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;


}

.produtos-checkbox-bofl {
  float: left;
  width: 50%;
  padding: 20px;

}

.form-itens-orca-usuario-bofl {
  float: left;
  width: 50%;
  padding: 20px;
}

.resumo-ou-ap-bofl {
  float: left;
  width: 50%;

  padding-bottom: 0%;
  border-left: 1px solid #BDBDBD;

}

.especificacoes-ou-bofl {
  float: left;
  width: 50%;
  padding: 20px;

}

td.td-ou-bofl {
  padding: 2px;
}

thead.cabecalho-ou-bofl {
  background-color: #203573;
  color: #ffffff;
}

tr.tr-ou-bgcolor-bofl {
  background-color: #AEB2F2;
}

table.table-bordered-2-bofl {
  margin-bottom: 0%;
}

.bg-imgs-ou-bofl {
  width: 100%;
  color: #203573;
}

div.resumo-ou-bofl {
  padding: 30px 20px;
}

table#tableButton-ou-bofl tr td {
  cursor: pointer;
}

div.calendario-ou-bofl {
  width: 50%;
}

table#tableButton-ou-bofl td:hover {
  background-color: #CFCFCF;
}

table#tableButton-ou-bofl td.selecionado {
  background-color: #28a745;
  -webkit-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
}



/*---------Area Chat----------------------------------------------*/
.container-chat {
  background-color: #ffffff;
  height: 400px;
  width: 100%;
  border-radius: 5px;
  overflow-y: scroll;
}

.container-chat::-webkit-scrollbar {
  width: 10px;
}

.container-chat::-webkit-scrollbar-track {
  background: #A094F2;
  border-radius: 0px 5px 5px 0px;

}

.container-chat::-webkit-scrollbar-thumb {
  background: #7159C1;
  border-radius: 5px;
}

.container-menssage {
  height: 120px;
  width: 100%;
  margin-bottom: 1px;
  display: flex;

}

/*Lista do chat*/
.avatar-chat {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203573;
}

.avatar-chat img {
  max-width: 90px;
}

.chat-content-main {
  width: 70%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;

}

.chat-content-main .title,
.chat-content-main .menssage,
.chat-content-main .status {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-content-main .menssage {
  color: rgb(97, 97, 97);
}

.chat-content-main .status {
  display: flex;
  align-items: center;
  font-size: 10px;
  justify-content: space-between;
}

.color-notification {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #28a745;
  margin-right: 4px;
}

.notify-new-menssage {
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-left: solid 1px #203573;
}

.notify-new-menssage .news {
  width: 90%;
  height: 30px;
  background-color: #A094F2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.notify-new-menssage .news img {
  width: 20px;
  height: 20px;
}

/*------------Fim Area Chat-----------------------------------------*/
/*-----------Inicio Login Admin---------------------*/

.register-user {
  width: 100vw;
  height: 100vh;
  min-height: 440px;
  background-image: linear-gradient(to right, #203573, #A094F2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-register {
  display: flex;
  width: 600px;
  box-shadow: 10px 15px 45px #000000;
  border-radius: 10px;
}

.left-register,
.rigth-register {
  display: flex;
  flex-direction: column;
}

.left-register {
  align-items: center;
  background-color: #A094F2;
  border-radius: 10px 0px 0px 10px;
  width: 40%;
}

.left-register * {
  color: #ffffff;
}

.left-register h1 {
  margin-top: 5px;
  color: #ffffff;
  border-bottom: solid 1px;
  font-size: 32px;

}

.tools-logo {
  width: 120px;
}

.icon-login {
  width: 200px;
}

.left-register p {
  font-size: 14px;
  text-align: center;
}

.right-register {
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  width: 60%;
  padding: 30px;
}

.right-register form {
  display: flex;
  flex-direction: column;
}

.title-input {
  font-size: 12px;
  color: #bbbbbb;
}

.input-text {
  padding: 10px;
  border: none;
  border-bottom: solid 1px #bbbbbb;
  margin-bottom: 20px;
}

.input-text:focus {
  outline: none;
  border-color: #A094F2;
}

.btn-register {
  border-radius: 6px;
  border: none;
  color: #ffffff;
  background-color: #203573;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-register:hover {
  background-color: #A094F2;
}

.alert-register {
  margin-top: 4px;
  font-size: 12px;
  color: #bbbbbb;
}

.alert-register a {
  text-decoration: none;
  color: #203573;
}

.alert-register a:hover {
  text-decoration: none;
  color: #A094F2;
}

@media(max-width:610px) {
  .form-container-register {
    flex-direction: column;
    max-width: 300px;
  }

  .left-register {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    min-height: 80px;
  }

  .left-register img {
    display: none;

  }

  .right-register {
    width: 100%;
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
  }

  .right-register form {
    padding: 30px;
  }

}

/*-----------Fim login Admin--------------------------*/

.btn.btn-primary.btn-lg.btn-block.bbpbl-bofl {
  background-color: #88BF36;
  border-color: #88BF36;
  /*ok*/
}

.btn.btn-pagamentos-bofl.bbpb-bofl {
  background-color: #203573;
  /*ok*/
}

.info-servicos-pagamentos-bofl {
  display: flex;
  background-color: #7159C1;
  color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
}

.espaco-orcamento-pagamentos-bofl {
  width: 100%;
  background-color: #7159C1;
  height: 30px;
  -webkit-box-shadow: 0px -5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px -5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px -5px 5px rgba(50, 50, 50, 0.77);


}

.pagdireita-bofl {
  float: left;
  width: 50%;
  padding: 20px;
  padding-right: 30px;
  padding-bottom: 0%;
}

.pagesquerda-bofl {
  width: 50%;
  padding: 20px;
  padding-right: 30px;
  padding-bottom: 0%;
}

/*pagamentos-FIM-------------------------------------------*/


/*meus dados prestador-------------------------------------------*/

#formControlSelectPrestador {
  width: 100%;
}

/*historico usuario-------------------------------------------*/



div#historico-header-andamento-bofl {
  padding: 5px 10px;
  text-align: right;
  background-color: #203573;

  color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);

}

div#historico-header-finalizado-bofl {
  background-color: #88BF36;
  padding: 5px 10px;
  text-align: right;

  color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
}

div#historico-header-cancelado-bofl {
  background-color: #FF3721;
  padding: 5px 10px;
  text-align: right;

  color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.77);
}

#historico-body-bofl {
  padding: 5px 10px;
  display: flex;





}

#btns-historico-bofl {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 30%;

}

#btn-avaliar-bofl {
  background-color: #88BF36;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0.25rem;
  padding: 2px 20px;
  margin: 5px;



}

#btn-chat-bofl {

  background-color: #203573;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0.25rem;
  padding: 2px 20px;
  margin: 5px;

}

#fundo-bofl {
  z-index: 1;


}

#descricao-bofl {
  width: 70%;
}

/*-----------single prestador*/
.container-master-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-single div.card-header {
  background-color: #203573;
  color: #A094F2;
}

.avatar-about-single {
  border: solid 2px #ffffff;
  max-width: 90px;
}

.about-prestador h5 {
  border-bottom: 3px solid #203573;
}

.about-prestador p {
  background-color: #AEB2F2;
  padding: 5px;
  border-radius: 5px;
}

.method-payment {
  padding: 5px;
  border: 1px solid #A094F2;
  border-radius: 5px;
}

.method-payment img {
  border-bottom: 5px;
  max-width: 300px;
  margin: auto;
}

.method-payment p {
  border-bottom: 3px solid #203573;
  padding: 4px;
  text-align: start;
}

.method-payment button {
  margin: auto;
  padding: 5px;
  background-color: #203573;
  color: #A094F2;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin: 5px;
}

.location h5 {
  text-align: start;
  border-bottom: 3px solid #203573;
}

.location iframe {
  width: 100%;
}

.img-galeria {
  border: 2px solid #A094F2;
  border-radius: 5px;
}

.img-galeria img {
  max-height: 150px;
}

.container-avatar-single-desk {
  display: none;
}

.container-social {
  display: flex;
  flex-direction: column-reverse;
}

.container-social img {
  width: 50px;
}

.card-payment {
  display: none;
}

.rating-single {
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  max-height: 10rem;
  padding: 1rem;
}

.avatar-rating {
  display: flex;
}

.ava-foto {
  border: solid 4px #7159C1;
  max-width: 64px;
  max-height: 64px;
}

.ava-nome {
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 0.5rem;
  padding: 1rem 0 0 0;
  position: relative;
}

.estrela-nota {
  position: absolute;
  top: 2.5rem;
  left: 0;
}

.ava-comentario {
  font-size: 0.8em;
  font-style: italic;
  padding: 0.2rem 0 0 4.5rem;
}

@media (min-width:768px) {
  .container-payment {
    display: none;
  }

  .card-payment {
    display: block;
  }

  .container-payment-desk {
    display: block;
    height: 100%;
  }

  .card-payment {
    height: 97%;
  }

  .method-payment {
    padding: 0px;
    border: none;
    border-radius: 5px;
  }

  .method-payment button {
    max-width: 100%;
  }

  .method-payment img {
    border-bottom: 5px;
    width: 150px;
    margin: auto;
  }

  .container-avatar-single {
    display: none;
  }

  .container-avatar-single-desk {
    display: block;
    position: absolute;
    top: -80px;
    right: 10px;
  }

  .container-social {
    display: flex;
    flex-direction: column;
  }

  .container-social img {
    width: 50px;
  }
}

@media(max-width:992px) {
  .container-main-single {
    display: flex;
    flex-direction: column-reverse;
  }
}

/*Fim single*/
/*modal pre orçamento*/
.modal-pre-ocarmento {
  background-color: #AEB2F2;
}

.card-hd-orcamento {
  background-color: #203573;
  color: #A094F2;
}

.btn-form-preorcamento {
  margin: auto;
  padding: 5px;
  background-color: #203573;
  color: #A094F2;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin: 5px;
}

.input-form-preocarmento {
  background-color: #AEB2F2;
  box-shadow: inset #AEB2F2;
  border: solid 4px #AEB2F2;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo-preorcamento {
  color: #ffffff;
}

@media(max-width: 991px) {
  .figure-preorcamento {
    display: none;
  }
}