<div class="row w-100 d-flex justify-content-center m-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 p-0 m-0 bg-light">
    <aside class="conatiner d-flex" >
      <section class="barra-lateralAdmin">
        <div class="foto-perfilAdmin">
          <div class="iconesAdmin">
            <a href="#" class="botao-comunicacaoAdmin"><img src="/img/phone.png" alt="Telefone"></a>
            <a href="#" class="usuarioAdmin"><img src="/img/user.png" alt="Usuário"></a>
            <a href="#" class="botao-comunicacaoAdmin"><img src="/img/mail.png" alt="Email"></a>
          </div>
          <div class="dadosAdmin">
            <a href="#">
              <h6>Jane Doe</h6>
            </a>
            <a href="#">Alguma Informação</a>
          </div>
        </div>

        <div class="opcoesAdmin">
            <a href="#"><img src="/img/adminIcon.png"><p>Admin</p></a>
            <hr>
            <a href="#"><img src="/img/adminIcon.png"><p>Admin</p></a>
            <hr>
            <a href="#"><img src="/img/adminIcon.png"><p>Admin</p></a>
            <hr>
            <a href="#"><img src="/img/adminIcon.png"><p>Admin</p></a>
            <hr>
            <a href="#"><img src="/img/adminIcon.png"><p>Admin</p></a>
            <hr>
            <a href="#"><img src="/img/adminIcon.png"><p>Admin</p></a>
            <hr>
            <a href="#"><img src="/img/adminIcon.png"><p>Admin</p></a>
            <hr>
        </div>
        
      </section>

      <section class="barra-superiorAdmin">
        <div class="sessaoAdmin">
          <a href="#">Sessão Atual</a>
        </div>
        <div class="caminho-paginaAdmin">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">/ Login</a></li>
            <li><a href="#">/ Área Usuário</a></li>
          </ul>
        </div>

        

      </section>

    </aside>
  </div>
</div>