<!-- cards notificações tablet+ -->
<div class="container-fluid p-0 cards">
    <div class="row p-1 no-gutters text-center">
        <!-- card 1 -->
        <div class="col-sm-3">
            <div class="cardUsuarioAzul card rounded m-1 text-left">
                <h6 class="card-header p-1">Notificações
                    <span class="badge badge-light badge-pill">5</span>
                </h6>
                <div class="card-body p-1">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <a href="" class="card-link">Atualize seu perfil</a>
                        </li>

                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <a href="" class="card-link">Desconto relâmpago</a>
                        </li>

                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <a href="" class="card-link">Atualização dos termos</a>
                        </li>

                        <li class="list-group-item p-0 rounded">
                            <span class="badge badge-light badge-pill p-0">
                                <a href="" class="card-link">
                                    <img src="/img/mais.png" alt="mais informações">
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-sm-3">
            <div class="cardUsuarioVerde card rounded m-1 text-left">
                <h6 class="card-header p-1">Mensagens
                    <span class="badge badge-light badge-pill">5</span>
                </h6>
                <div class="card-body p-1">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <a href="" class="card-link">Prestador: Lorem ipsum</a>
                        </li>

                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <a href="" class="card-link">Prestador: Lorem ipsum</a>
                        </li>

                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <a href="" class="card-link">Prestador: Lorem ipsum</a>
                        </li>

                        <li class="list-group-item p-0 rounded">
                            <span class="badge badge-light badge-pill p-0">
                                <a href="" class="card-link">
                                    <img src="/img/mais.png" alt="mais informações">
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- card 3 -->
        <div class="col-sm-3">
            <div class="cardUsuarioAzul card rounded m-1 text-left">
                <h6 class="card-header p-1">Status pedidos
                    <span class="badge badge-light badge-pill">3</span>
                </h6>
                <div class="card-body p-1">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <span class="badge badge-pill badge-success">○</span>
                            <a href="" class="card-link">Encamento</a>
                        </li>

                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <span class="badge badge-pill badge-info">○</span>
                            <a href="" class="card-link">Aula de yoga</a>
                        </li>

                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <span class="badge badge-pill badge-danger">○</span>
                            <a href="" class="card-link">Site institucional</a>
                        </li>

                        <li class="list-group-item p-0 rounded">
                            <span class="badge badge-light badge-pill p-0">
                                <a href="" class="card-link">
                                    <img src="/img/mais.png" alt="mais informações">
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- card 4 -->
        <div class="col-sm-3">
            <div class="cardUsuarioVerde card rounded m-1 text-left">
                <h6 class="card-header p-1">Nome</h6>
                <div class="card-body p-1">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <a href="" class="card-link">15 serviços contratados</a>
                        </li>

                        <li class="list-group-item list-group-item-action p-0 rounded">

                            <a href="" class="card-link justify-content-star">
                                Nota:

                                <img class="starCard" src="/img/star1.png" alt="mais informações">

                                <img class="starCard" src="/img/star1.png" alt="mais informações">

                                <img class="starCard" src="/img/star1.png" alt="mais informações">

                                <img class="starCard" src="/img/star3.png" alt="mais informações">

                                <img class="starCard" src="/img/star3.png" alt="mais informações">
                            </a>
                        </li>

                        <li class="list-group-item list-group-item-action p-0 rounded">
                            <p class="card-text text-center">"Um status opcional"</p>
                        </li>

                        <li class="list-group-item p-0 rounded">
                            <span class="badge badge-light badge-pill p-0">
                                <a href="" class="card-link">
                                    <img src="/img/mais.png" alt="mais informações">
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- cards notificações mobile -->
<div id="carouselExampleIndicators" class="carousel slide cardMobile" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- card1 -->
            <div class="row p-1 no-gutters text-center">
                <!-- card 1 -->
                <div class="col-sm-12">
                    <div class="cardUsuarioAzul card rounded m-1 pb-2 text-left ">
                        <h6 class="card-header p-1">Notificações
                            <span class="badge badge-light badge-pill">5</span>
                        </h6>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <a href="" class="card-link">Atualize seu perfil</a>
                                </li>
        
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <a href="" class="card-link">Desconto relâmpago</a>
                                </li>
        
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <a href="" class="card-link">Atualização dos termos</a>
                                </li>
        
                                <li class="list-group-item p-0 px-4 rounded">
                                    <span class="badge badge-light badge-pill p-0">
                                        <a href="" class="card-link">
                                            <img src="/img/mais.png" alt="mais informações">
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card1 fim -->
        </div>

        <div class="carousel-item">
            <!-- card2 -->
            <div class="row p-1 no-gutters text-center">
                <!-- card 2 -->
                <div class="col-sm-12">
                    <div class="cardUsuarioVerde card rounded m-1 pb-2 text-left">
                        <h6 class="card-header p-1">Mensagens
                            <span class="badge badge-light badge-pill">5</span>
                        </h6>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <a href="" class="card-link">Prestador: Lorem ipsum</a>
                                </li>

                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <a href="" class="card-link">Prestador: Lorem ipsum</a>
                                </li>

                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <a href="" class="card-link">Prestador: Lorem ipsum</a>
                                </li>

                                <li class="list-group-item p-0 px-4 rounded">
                                    <span class="badge badge-light badge-pill p-0">
                                        <a href="" class="card-link">
                                            <img src="/img/mais.png" alt="mais informações">
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card2 fim -->
        </div>

        <div class="carousel-item"> 
            <!-- card3 -->
            <div class="row p-1 no-gutters text-center">
                <!-- card 3 -->
                <div class="col-sm-12">
                    <div class="cardUsuarioAzul card rounded m-1 pb-2 text-left">
                        <h6 class="card-header p-1">Status pedidos
                            <span class="badge badge-light badge-pill">3</span>
                        </h6>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <span class="badge badge-pill badge-success">○</span>
                                    <a href="" class="card-link">Encamento</a>
                                </li>
        
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <span class="badge badge-pill badge-info">○</span>
                                    <a href="" class="card-link">Aula de yoga</a>
                                </li>
        
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <span class="badge badge-pill badge-danger">○</span>
                                    <a href="" class="card-link">Site institucional</a>
                                </li>
        
                                <li class="list-group-item p-0 px-4 rounded">
                                    <span class="badge badge-light badge-pill p-0">
                                        <a href="" class="card-link">
                                            <img src="/img/mais.png" alt="mais informações">
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card3 fim -->
        </div>


        <div class="carousel-item">
            <!-- card4 -->
            <div class="row p-1 no-gutters text-center">
                <!-- card 4 -->
                <div class="col-sm-12">
                    <div class="cardUsuarioVerde card rounded m-1 pb-2 text-left">
                        <h6 class="card-header p-1">Nome</h6>
                        <div class="card-body p-1">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <a href="" class="card-link">15 serviços contratados</a>
                                </li>
        
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
        
                                    <a href="" class="card-link justify-content-star">
                                        Nota:
        
                                        <img class="starCard" src="/img/star1.png" alt="mais informações">
        
                                        <img class="starCard" src="/img/star1.png" alt="mais informações">
        
                                        <img class="starCard" src="/img/star1.png" alt="mais informações">
        
                                        <img class="starCard" src="/img/star3.png" alt="mais informações">
        
                                        <img class="starCard" src="/img/star3.png" alt="mais informações">
                                    </a>
                                </li>
        
                                <li class="list-group-item list-group-item-action p-0 px-4 rounded">
                                    <p class="card-text text-center">"Um status opcional"</p>
                                </li>
        
                                <li class="list-group-item p-0 px-4 rounded">
                                    <span class="badge badge-light badge-pill p-0">
                                        <a href="" class="card-link">
                                            <img src="/img/mais.png" alt="mais informações">
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card4 fim -->
        </div>

    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon setaEsq" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon setaDir" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
</div>