<footer class="container-footer col-12 h-100 m-0 p-0">

    <div class="row content-includes">

        <div class="container col-sm-12 col-md-12 col-lg-8 m-0 p-0" id="linksFooter">
            <div class="row linksFooter m-0 p-0">
                <ul class="col-sm-4">
                    <p>MAPA DO SITE</p>
                    <li class="d-flex flex-column">
                        <a href="/home"><img src="/img/icone-testeFooter.svg">Home</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Profissionais</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Como Funciona</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Sobre Nós</a>
                    </li>
                </ul>

                <ul class="col-sm-4">
                    <p>LINKS ÚTEIS</p>
                    <li class="d-flex flex-column">
                        <a href="#"><img src="/img/icone-testeFooter.svg">Ajuda</a>
                    </li>
                </ul>

                <ul class="col-sm-4">
                    <p>ENCONTRE NOS</p>
                    <li class="d-flex flex-column">
                        <a href="/home/contato"><img src="/img/icone-testeFooter.svg">Fale Conosco</a>
                    </li>
                </ul>

            </div>

            <div class="row subtituloImg m-0 p-0">
                <p>Siga-nos! Fique Ligado nas novidades.</p>
                <div class="footer-icons d-flex">
                    <a href="https://www.youtube.com" target="blank"><img src="/img/youtube.png" alt="..."></a>
                    <a href="https://www.facebook.com" target="blank"><img src="/img/facebook.png" alt="..."></a>
                    <a href="https://twitter.com" target="blank"><img src="/img/twitter.png" alt="..."></a>
                    <a href="https://www.linkedin.com" target="blank"><img src="/img/linkedin.png" alt="..."></a>
                    <a href="https://web.whatsapp.com" target="blank"><img src="/img/whatsapp.png" alt="..."></a>
                </div>
            </div>
        </div>

        <div class="container d-flex justify-content-center align-items-center col-lg-4 h-100 m-0 p-0">
            <img src="/img/footer.png" alt="footer" class="img-footer">
        </div>

    </div>

    <div class="imagem-rodape"><img src="/img/rodape.png" alt="footer">TOOLS © 2020</div>
</footer>