
<footer class="container-footer">
    
    
    <ul class="row d-flex align-items-right w-100 ">
        
            <li class= "container-footer-head col-md-3 p-2" >Sobre Nós
                <ul >
                    <li class = "container-footer-itens col-md-4p-1">
                        <a href ="#">
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        </a>
                    </li>
                </ul>
            </li>
            <li class="container-footer-head col-md-3 p-2">Links Uteis
                <ul>
                    <li class = "container-footer-itens col-md-4p-1" >
                        <a href ="#">
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        </a>
                    </li>
                </ul>
            </li>
            <li class="container-footer-head col-md-3 p-2">Encontre-nos
                <ul>
                    <li class = "container-footer-itens col-md-4p-1">
                        <a href ="#">
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                            Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        </a>
                    </li>
                </ul>
            </li>
                 
    </ul>   
    
            
    <h6 class = "footer-titulo">Siga-nos! Fique Ligado nas novidades. Fale conosco.</h6>   
    <a href="#"> <img src="/img/youtube.png" class="icones-footer rounded float-left" alt="..."> </a>    
    <a href="#"><img src="/img/facebook.png" class="icones-footer rounded float-left" alt="..."> </a>    
    <a href="#"><img src="/img/twitter.png" class="icones-footer rounded float-left" alt="...">  </a>   
    <a href="#"><img src="/img/linkedin.png" class="icones-footer rounded float-left" alt="..."> </a>                    
    <a href="#"><img src="/img/whatsapp.png" class="icones-footer rounded float-left" alt="..."> </a>
    
    
    <img src="/img/footer.png" alt="footer" class = "img-footer">
    <div class="imagem-rodape"><img src="/img/rodape.png" alt="footer">TOOLS © 2020</div>
</footer>
