<nav class="container-footer">
    
    <ul class="row d-flex align-items-right ">
            
            <li class= "container-footer-head col-md-3 p-2" >Sobre Nós
                <ul >
                    <li class = "container-footer-itens col-md-4p-1">
                        <a href ="#">
                    Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                    Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                    Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        </a>
                    </li>
                </ul>
            </li>
            <li class="container-footer-head col-md-3 p-2">Links Uteis
                <ul>
                    <li class = "container-footer-itens col-md-4p-1" >
                        <a href ="#">
                        Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        </a>
                        </li>
                </ul>
            </li>
            <li class="container-footer-head col-md-3 p-2">Encontre-nos
                <ul>
                    <li class = "container-footer-itens col-md-4p-1">
                        <a href ="#">
                        Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        Siga-nos! Fique Ligado nas novidades. Fale conosco. 
                        </a>
                        </li>
                </ul>
            </li>
            <li class="container-footer-head col-md-3 p-2">
                <ul>
                    <li class = "container-footer-itens col-md-4p-1">
                        <a><img src="/img/footer.png" alt="footer" class = "img-footer"></a>
                    </li>
                </ul>
            </li>
    </ul>      
    <a>Siga-nos! Fique Ligado nas novidades. Fale conosco.</a>        
    <ul class="row d-flex align-items-right " >
                <li class="container-footer-head col-md-2 p-2">
                        <ul>
                            <li class = "container-footer-itens col-md-4p-1">
                            <a href ="#" >
                            <img src="/img/youtube.png" alt="footer" class = "youtube">
                            </a>
                            </li>
                    </ul>
                    </li>
                    <li class="container-footer-head col-md-2 p-2">
                        <ul>
                            <li class = "container-footer-itens col-md-4p-1">
                            <a href ="#" >
                            <img src="/img/facebook.png" alt="footer" class = "youtube">
                            </a>
                            </li>
                    </ul>
                    </li>
                    <li class="container-footer-head col-md-2 p-2">
                        <ul>
                            <li class = "container-footer-itens col-md-4p-1">
                            <a href ="#" >
                            <img src="/img/twitter.png" alt="footer" class = "youtube">
                            </a>
                            </li>
                    </ul>
                    </li>
                    <li class="container-footer-head col-md-2 p-2">
                        <ul>
                            <li class = "container-footer-itens col-md-4p-1">
                            <a href ="#" >
                            <img src="/img/linkedin.png" alt="footer" class = "youtube">
                            </a>
                            </li>
                    </ul>
                    </li>
                    <li class="container-footer-head col-md-2 p-2">
                        <ul>
                            <li class = "container-footer-itens col-md-4p-1">
                            <a href ="#" >
                            <img src="/img/whatsapp.png" alt="footer" class = "youtube">
                            </a>
                            </li>
                    </ul>
                    </li>
            
            </ul>
    
</nav>
<img src="/img/rodape.png" alt="footer" class = "youtube">