<footer class="container-footer col-12 h-100 m-0 p-0">

    <div class="row content-includes">

        <div class="container col-sm-12 col-md-12 col-lg-8 m-0 p-0" id="linksFooter">
            <div class="row linksFooter m-0 p-0">
                <ul class="col-sm-4">
                    <p>SOBRE NÓS</p>
                    <li class="d-flex flex-column">
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                    </li>
                </ul>

                <ul class="col-sm-4">
                    <p>LINKS ÚTEIS</p>
                    <li class="d-flex flex-column">
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                    </li>
                </ul>

                <ul class="col-sm-4">
                    <p>ENCONTRE NOS</p>
                    <li class="d-flex flex-column">
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                        <a href="#"><img src="/img/icone-testeFooter.svg">Link</a>
                    </li>
                </ul>

            </div>

            <div class="row subtituloImg m-0 p-0">
                <p>Siga-nos! Fique Ligado nas novidades. Fale conosco.</p>
                <div class="footer-icons d-flex">
                    <a href="#"><img src="/img/youtube.png" alt="..."></a>
                    <a href="#"><img src="/img/facebook.png" alt="..."></a>
                    <a href="#"><img src="/img/twitter.png" alt="..."></a>
                    <a href="#"><img src="/img/linkedin.png" alt="..."></a>
                    <a href="#"><img src="/img/whatsapp.png" alt="..."></a>
                </div>
            </div>
        </div>

        <div class="container d-flex justify-content-center align-items-center col-lg-4 h-100 m-0 p-0">
            <img src="/img/footer.png" alt="footer" class="img-footer">
        </div>

    </div>

    <div class="imagem-rodape"><img src="/img/rodape.png" alt="footer">TOOLS © 2020</div>
</footer>