<nav class="navbar ">
    <a class="navbar-brand"> <strong>ToolsHall</strong></a>
    <form class="form-inline">
      <button class="btn btn-outline my-2 my-sm-0" type="submit">CADASTRE-SE</button>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
</nav>