<!-- <div class="row w-100 d-flex justify-content-center bg-roxo m-0">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 p-0 m-0 bg-light"> -->

        <!--menu tablet e desk-->
        <nav class="nav-menu-principal">
            <div class="container h-100 container-menu-principal">
                <ul class="row h-100 d-flex justify-content-around align-items-center menu-principal">
                    <li class="col-md-2 menu-principal-itens-sub" id="menu-principal-itens-sub-click" onclick="toggleMenuPrincipal(this)">
                        <img src="/img/menu-hamburguer.png" alt=""> SERVIÇOS
                    </li>
                    <li class="col-md-2 menu-principal-itens"><a class="btnContatoMN" href="/prestador/lista">PROFISSONAIS</a></li>
                    <li class="col-md-2 menu-principal-itens"><a class="btnContatoMN" href="/home/como-funciona">COMO FUNCIONA</a></li>
                    <li class="col-md-2 menu-principal-itens"><a class="btnContatoMN" href="/home/contato">CONTATO</a></li>
                    <li class="col-md-2 menu-principal-itens"><a class="btnContatoMN" href="/home/sobre">SOBRE NÓS</a></li>
                </ul>
                
                <ul class="row sub-menu-principal" id="sub-menu-principal" >
                    <li onclick="location.pathname = '/prestador/lista/categoria/1'" class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/medicina-icon.png" alt=""></div>Medicina</li>
                    <li onclick="location.pathname = '/prestador/lista/categoria/2'" class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/cctv-icon.png" alt=""></div>Seguraça</li>
                    <li onclick="location.pathname = '/prestador/lista/categoria/3'" class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/ar-icon.png" alt=""></div>Manutenção</li>
                    <li onclick="location.pathname = '/prestador/lista/categoria/4'" class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/estetica-icon.png" alt=""></div>Estética</li>
                    <li onclick="location.pathname = '/prestador/lista/categoria/5'" class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/jardinagem-icon.png" alt=""></div>Jardinagem</li>
                    <li onclick="location.pathname = '/prestador/lista/categoria/6'" class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/educacao-icon.png" alt=""></div>Educação</li>
                    <li onclick="location.pathname = '/prestador/lista/categoria/7'" class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/culinaria-icon.png" alt=""></div>Culinária</li>
                    <li onclick="location.pathname = '/prestador/lista/categoria/8'" class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/card-icon.png" alt=""></div>Escritório</li>
            
                </ul>
            
            </div>
        </nav>
        <!--Mobile-->  
        <nav class="nav-menu-principal-mobile">
            <ul class="menu-principal-mobile menu-principal-mobile-fechar">
                <li class="menu-principal-itens-sub" id="menu-principal-itens-sub-click" data-toggle="collapse" data-target="#multiCollapseExample2">
                    <img src="/img/menu-hamburguer.png" alt=""> SERVIÇOS
                </li>
                <div class="collapse multi-collapse" id="multiCollapseExample2" >
                    <div class="card card-body sub-menu-mobile-color">
                        <ul class="sub-menu-principal-mobile" id="sub-menu-principal" >
                            <li class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/medicina-icon.png" alt=""></div>Medicina</li>
                            <li class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/cctv-icon.png" alt=""></div>Seguraça</li>
                            <li class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/ar-icon.png" alt=""></div>Manutenção</li>
                            <li class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/estetica-icon.png" alt=""></div>Estetica</li>
                            <div class="w-100"></div>
                            <li class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/jardinagem-icon.png" alt=""></div>Jardinagem</li>
                            <li class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/educacao-icon.png" alt=""></div>Educação</li>
                            <li class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/culinaria-icon.png" alt=""></div>Culinaria</li>
                            <li class="sub-menu-itens-principal"><div class="icon-categoria-menu"><img src="/img/card-icon.png" alt=""></div>Escritorio</li>
                    
                        </ul>
                    
                    </div>
                </div>
                <li class="menu-principal-itens">PROFISSONAIS</li>
                <li class="menu-principal-itens">COMO FUNCIONA</li>
                <li class="menu-principal-itens">CONTATO</li>
                <li class="menu-principal-itens">SOBRE NÓS</li>
                <li href="/cadastro/#cadastro-selecione" class="menu-principal-itens">CADASTRE-SE</li>
            </ul>
        </nav>
    <!-- </div>
</div> -->