<div class="containerErro404 container">
  <img src="/img/404.svg" alt="Erro 404">
  <a class="m-0 p-0" href="<%= linkPgAnterior %> "><img src="/img/setaGlassVoltar.png" alt="link-voltar">Voltar à página anterior</a>
</div>