<% if(data.prestador.Habilidades != ""){ %>
  


          <div class="card-body">
            <% data.prestador.Habilidades.forEach(prestador => { %>

    <!-- GET-SHOW  formulario dados pessoais -->
         <form action="/usuario/area-prestador/meusDados/<%=data.prestador.id%>/profissao" method="GET">
    
              <!-- input linha 1 -->
              <div class="form-row">
                <!-- input nome -->
                <div class="form-group col-md-6">
                  <label for="profissao">Profissão 12</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Profissão</span>
                    </div>
                    <input type="text" name="tituloProfissao" class="form-control campoMeusDadosStyle campoDadoReadonly"
                      id="profissao" value="<%= prestador.titulo %>" readonly>
                  </div>
                </div>
    
                <!-- input cpf -->
                <div class="form-group col-md-6">
                  <label for="date">Na profissão desde</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Data</span>
                    </div>
                    <input type="date" name="dtProfissao" class="form-control campoMeusDadosStyle campoDadoReadonly"
                      id="date" value="<%= prestador.inicio_profissao %>" readonly>
                  </div>
                </div>
              </div>
              <div class="form-row">
    
    
    
                <!-- input linha 2 -->
    
              </div>
              <div class="form-row">
                <!-- input data nascimento -->
                <div class="form-group col">
                  <label for="habilidades">Descrição</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Descrição</span>
                    </div>
                    <textarea class="form-control" name="descricaoPrestador" rows="5"
                      value="<%= prestador.descricao %>" id="comment"></textarea>
                  </div>
                </div>
              </div>
    
              <!-- botao editar ABRE O MODAL-->
              <!-- Button trigger modal -->
              <div class="d-flex justify-content-end">
                <button type="button" class="btn botaoMeusDados" data-toggle="modal"
                  data-target="#editarProfissoesPrestador">Editar</button>
              </div>
            </form>
          <% }) %> 
          </div>
   
  
    <% } else { %>
    
    <!-- sanfona -------------------------------------------------------->

          <div class="card-body">
            <!-- formulario dados pessoais -->

    <!-- FORM VAZIO - POST -->
        <form>    
              <!-- input linha 1 -->
              <div class="form-row">
                <!-- input nome -->
                <div class="form-group col-md-6">
                  <label for="profissao">Profissão 3</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Profissão</span>
                    </div>
                    <input type="text" name="tituloProfissao" class="form-control campoMeusDadosStyle campoDadoReadonly"
                      id="profissao" placeholder="complete seu cadastro" readonly>
                  </div>
                </div>
    
                <!-- input cpf -->
                <div class="form-group col-md-6">
                  <label for="date">Na profissão desde</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Data</span>
                    </div>
                    <input type="date" name="dtProfissao" class="form-control campoMeusDadosStyle campoDadoReadonly"
                      id="date"  readonly>
                  </div>
                </div>
              </div>
              <div class="form-row">
    
    
    
                <!-- input linha 2 -->
    
              </div>
              <div class="form-row">
                <!-- input data nascimento -->
                <div class="form-group col">
                  <label for="habilidades">Descrição</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text etiquetaCampo">Descrição</span>
                    </div>
                    <textarea class="form-control" name="descricaoPrestador" rows="5"
                    placeholder="complete seu cadastro" id="comment"></textarea>
                  </div>
                </div>
              </div>
    
              <!-- botao editar ABRE O MODAL-->
              <!-- Button trigger modal -->
              <div class="d-flex justify-content-end">
                <button type="button" class="btn botaoMeusDados" data-toggle="modal"
                  data-target="#editarProfissoesPrestador">Editar</button>
              </div>
            </form>
          </div>
      
     
      <% } %>