<h3>acompanhe Área contratante</h3>


<ul class="row d-flex align-items-right ">
    <li class= "itensAcompanheUsuario col-md-11p-1" >Acompanhe as etapas dos serviços aqui
       <ul >
            <li class = "itensAcompanheUsuario col-md-11p-1">
                <ul >
                    <hr></hr>
                <li>Alguma Informação</li>
                    
                <li>Alguma Informação</li>
                </ul>
            </li>
        </ul>
    
    <li class = "acompanheUsuario col-md-8 p-1" >
        <a><img src="/img/prestadores em solicitação.png" alt="footer" class = "img-footer"></a>
    </li>
</li>
</ul>

<div class="p-3 mb-2 bg-success text-white">PEDIDOS/SERVIÇOS SEM IMPEDIMENTOS</div>

<ul class="row d-flex align-items-right " >
    <li class="confirm col-md-2 p-2">
            <ul>
                <li class = "confirm col-md-3p-1" >
                    <img src="/img/confirm.png" alt="footer" class = "confirm col-md-4">   
                </li>
            </ul>
    </li>
    <li class="analise col-md-2 p-2">
        <ul>
            <li class = "analise col-md-3p-1" >
                <img src="/img/analise.png" alt="footer" class = "analise col-md-4">   
            </li>
        </ul>
    </li>
    <li class="aceito col-md-2 p-2">
        <ul>
            <li class = "aceito col-md-3p-1" >
                <img src="/img/aceito.png" alt="footer" class = "aceito col-md-4">   
            </li>
        </ul>
    </li>
    <li class="andamento col-md-2 p-2">
        <ul>
            <li class = "andamento" >
                <img src="/img/andamento.png" alt="footer" class = "andamento col-md-4">   
            </li>
        </ul>
    </li>
</ul>


<ul class="row d-flex align-items-center">  

    <li class= "enviado" >ENVIADO 
        
       <ul >
            <li class = "enviado col-md-2p-1">Muito Bem!
                <ul >
                 <hr color="white"></hr>
                <li></li>
                <li>Seu Pedido: Nome do serviço foi </li>
                <li>enviado para o prestador nome!</li>
                <li>Agora apenas aguarde a analise </li>
                <li>do profissional</li>
                <li></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class= "analise-card" >EM ANÁLISE
        
        <ul >
             <li class = "analise-card col-md-2p-1">Só mais um pouco!
                 <ul >
                  <hr color="white"></hr>
                 <li></li>
                 <li>O prestador está analisando </li>
                 <li>a melhor forma de atende-lo.</li>
                 <li>Fique atento ao chat! </li>
                 <li>A qualquer momento o prestador</li>
                 </ul>
             </li>
         </ul>
     </li>
     <li class= "aceito-card" >ACEITO 
        
        <ul >
             <li class = "aceito-card col-md-2p-1">Muito bom! :)
                 <ul >
                  <hr color="white"></hr>
                 <li>sua solicitação NOME DO SERVIÇO</li>
                 <li>foi aceita pelo prestador NOME! </li>
                 <li>Confirme o orçamento com o </li>
                 <li>prestador</li>
                 </ul>
             </li>
         </ul>
     </li>
     <li class= "andamento-card" >EM ANDAMENTO
        
        <ul >
             <li class = "andamento-card col-md-2p-1"> Serviço em andamento.
                 <ul >
                  <hr color="white"></hr>
                 
                 <li>Sempre mantenha contato com o </li>
                 <li>profissional. Dê preferencia </li>
                 <li>pelo nosso chat! Assim sempre </li>
                 <li>terá acesso a todas as etapas</li>
                 
                 </ul>
             </li>
         </ul>
     </li>
</ul>

<img src="/img/pedido1.png" alt="footer" >

<div class="p-3 mb-2 bg-danger text-white">PEDIDOS/SERVIÇOS INTERROMPIDOS</div>

<ul class="row d-flex align-items-right " >
    <li class="confirm col-md-2 p-2">
            <ul>
                <li class = "confirm col-md-3p-1" >
                    <img src="/img/confirm.png" alt="footer" class = "confirm col-md-4">   
                </li>
            </ul>
    </li>
    <li class="analise col-md-2 p-2">
        <ul>
            <li class = "analise col-md-3p-1" >
                <img src="/img/analise.png" alt="footer" class = "analise col-md-4">   
            </li>
        </ul>
    </li>
    <li class="aceito col-md-2 p-2">
        <ul>
            <li class = "aceito col-md-3p-1" >
                <img src="/img/negado.png" alt="footer" class = "aceito col-md-4">   
            </li>
        </ul>
    </li>
    <li class="andamento col-md-2 p-2">
        <ul>
            <li class = "andamento" >
                <img src="/img/retorno.png" alt="footer" class = "andamento col-md-4">   
            </li>
        </ul>
    </li>
</ul>


<ul class="row d-flex align-items-center">  

    <li class= "enviado" >ENVIADO 
        
       <ul >
            <li class = "enviado col-md-2p-1">Muito Bem!
                <ul >
                 <hr color="white"></hr>
                <li></li>
                <li>Seu Pedido: Nome do serviço foi </li>
                <li>enviado para o prestador nome!</li>
                <li>Agora apenas aguarde a analise </li>
                <li>do profissional</li>
                <li></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class= "analise-card" >EM ANÁLISE
        
        <ul >
             <li class = "analise-card col-md-2p-1">Só mais um pouco!
                 <ul >
                  <hr color="white"></hr>
                 <li></li>
                 <li>O prestador está analisando </li>
                 <li>a melhor forma de atende-lo.</li>
                 <li>Fique atento ao chat! </li>
                 <li>A qualquer momento o prestador</li>
                 </ul>
             </li>
         </ul>
     </li>
     <li class= "negado-card" >NEGADO 
        
        <ul >
             <li class = "negado-card col-md-2p-1">Opss... :(
                 <ul >
                  <hr color="white"></hr>
                 
                 <li>Sua Solicitação NOME DO SERVIÇO </li>
                 <li>foi negada pelo prestador NOME!</li>
                 <li>Por favor, aguarde a justificativa </li>
                 <li>do profissional. </li>
                 </ul>
             </li>
         </ul>
     </li>
     <li class= "andamento-card" >RETORNADO 
        
        <ul >
             <li class = "andamento-card col-md-2p-1">Solicitação de serviço retornada.
                 <ul >
                  <hr color="white"></hr>
                 
                 <li>Algo na solicitação, negociação ou </li>
                 <li>pagamento deu errado. clique </li>
                 <li>aqui para mais detalhes</li>
                 
                 <button type="button" class="btn btn-light btn-sm btn-block">DETALHES</button>
                 </ul>
             </li>
         </ul>
     </li>
</ul>
<img src="/img/pedido2.png" alt="footer" >
