<h3>acompanhe Área contratante</h3>


<ul class="row d-flex align-items-right ">
    <li class= "itensAcompanheUsuario col-md-11p-1" >Acompanhe as etapas dos serviços aqui
       <ul >
            <li class = "itensAcompanheUsuario col-md-11p-1">
                <ul >
                    <hr></hr>
                    <li>Alguma Informação</li>
                        
                    <li>Alguma Informação</li>
                </ul>
            </li>
        </ul>
    
    
        
    
    </li>
    <img src="/img/prestadores em solicitação.png" alt="footer" class="imagem-prestador">
</ul>

<div class="p-3 mb-2 bg-success text-white">PEDIDOS/SERVIÇOS SEM IMPEDIMENTOS</div>

<div class="container-fluid p-0">
    <div class="row p-1 no-gutters text-center">
        <!-- card 1 -->
        <div class="col-sm-12">
            
            <div class="pos-f-t">

                <!-- visivel apenas ao expandir -->
                <div class="collapse" id="navbarToggleExternalContent-1">
                    <div class="bg-light p-0">

                        <div class="row no-gutters bg-roxoClaro topoCardPedido"
                        data-toggle="collapse" data-target="#navbarToggleExternalContent-1" aria-controls="navbarToggleExternalContent-1" aria-expanded="false" aria-label="Toggle navigation">
                            <div class="col-md-12"></div>
                        </div>
                        
                        <div class="card m-0 container-fluid p-0">
                            <div class="row no-gutters">
                                <!-- coluna status -->
 
                                <ul class="row d-flex align-items-start p-0 m-5">
                                    
                                    
                                    <li class= "enviado rounded "  ><img src="/img/confirm.png" alt="footer" class = "imagem-enviado"> 
                                        
                                        <ul >
                                            <li >ENVIADO
                                                <ul >
                                                    <hr color="white"></hr>
                                                    
                                                    <li>Muito Bem! </li>
                                                    </br>
                                                    <li>Seu Pedido: NOME DO  </li>
                                                    <li> SERVIÇO foi enviado para </li>
                                                    <li> o prestador NOME! </li>
                                                    </br>
                                                    <li>Agora apenas aguarde a </li>
                                                    <li>  analise do profissional</li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li class= "analise-card rounded" ><img src="/img/analise.png" alt="footer" class = "imagem-enviado">
                                        
                                        <ul >
                                            <li >EM ANÁLISE
                                                <ul >
                                                    <hr color="white"></hr>
                                                    <li>Só mais um Pouco!</li>
                                                    </br>             
                                                    <li> O prestador está </li>
                                                    <li>analisando a melhor forma </li>
                                                    <li>de atendê-lo.</li>
                                                    </br>
                                                    <li>Fique atento ao chat!  </li>
                                                    <li>A qualquer momento o  </li>
                                                    <li>prestador pode contatá-lo. </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class= "aceito-card rounded" ><img src="/img/aceito.png" alt="footer" class = "imagem-enviado" > 
                                        
                                        <ul >
                                            <li >ACEITO 
                                                <ul >
                                                    <hr color="white"></hr>
                                                    
                                                    <li>Muito bom! :)</li>
                                                    </br>
                                                    <li>Sua solicitação NOME DO </li>
                                                    <li>SERVIÇO foi aceita pelo  </li>
                                                    <li>prestador NOME!</li>
                                                    </br>
                                                    <li>Confirme o orçamento com o </li>
                                                    <li>prestador</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class= "andamento-card rounded "><img src="/img/andamento.png" alt="footer" class = "imagem-enviado"> 
                                        
                                        <ul >
                                            <li > EM ANDAMENTO
                                                <ul >
                                                    <hr color="white"></hr>
                                                    <li>Serviço em andamento.</li>
                                                    </br>
                                                    <li>Sempre mantenha contato  </li>
                                                    <li>com o profissional.  </li>
                                                    </br>
                                                    <li>Dê preferencia pelo nosso  </li>
                                                    <li>chat! Assim sempre terá</li>
                                                    <li>acesso a todas as etapas da</li>
                                                    <li>negociação</li>
                                                
                                                
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>

                                <img src="/img/pedido1.png" alt="footer" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navExpandir bg-success">
        <img class="iconPedidos" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent-1" aria-controls="navbarToggleExternalContent-1" aria-expanded="false" aria-label="Toggle navigation" src="/img/pedidosCard.png" alt="">

        <a href="/usuario/area-contratante/pedidos"><img src="/img/setaSemFundo.png"  alt="mais detalhes"></a>
    </nav>
</div>
</br>

<div class="p-3 mb-2 bg-danger text-white">PEDIDOS/SERVIÇOS INTERROMPIDOS</div>

<div class="container-fluid p-0"><div class="container-fluid p-0">
    <div class="row p-1 no-gutters text-center">
        <!-- card 1 -->
        <div class="col-sm-12">
            
            <div class="pos-f-t">

                <!-- visivel apenas ao expandir -->
                <div class="collapse" id="navbarToggleExternalContent-2">
                    <div class="bg-light p-0">

                        <div class="row no-gutters bg-roxoClaro topoCardPedido"
                            data-toggle="collapse" data-target="#navbarToggleExternalContent-2" aria-controls="navbarToggleExternalContent-2" aria-expanded="false" aria-label="Toggle navigation">
                            <div class="col-md-12"></div>
                        </div>
                        
                        <div class="card m-0 container-fluid p-0">
                            <div class="row no-gutters">
                                <!-- coluna status --> 



                                <ul class="row d-flex align-items-start  p-0 m-5 ">

                                    <li class= "enviado rounded " ><img src="/img/confirm.png" alt="footer" class = "imagem-enviado"> 
                                        
                                        <ul >
                                            <li >ENVIADO
                                                <ul >
                                                    <hr color="white"></hr>
                                                    <li>Muito Bem!</li>
                                                    </br>
                                                    <li>Seu Pedido: NOME DO  </li>
                                                    <li>SERVIÇO foi enviado para </li>
                                                    <li>o prestador NOME! </li>
                                                    </br>
                                                    <li>Agora apenas aguarde a </li>
                                                    <li>analise do profissional.</li>
                                                
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class= "analise-card rounded" ><img src="/img/analise.png" alt="footer" class = "imagem-enviado">
                                        
                                        <ul >
                                            <li >EM ANÁLISE
                                                <ul >
                                                    <hr color="white"></hr>
                                                    <li>Só mais um Pouco!</li>
                                                    </br>             
                                                    <li> O prestador está </li>
                                                    <li>analisando a melhor forma </li>
                                                    <li>de atendê-lo.</li>
                                                    </br>
                                                    <li>Fique atento ao chat!  </li>
                                                    <li>A qualquer momento o  </li>
                                                    <li>prestador pode contatá-lo. </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li class= "negado-card rounded" ><img src="/img/negado.png" alt="footer" class = "imagem-enviado">  
                                        
                                        <ul >
                                            <li >NEGADO
                                                <ul >
                                                    <hr color="white"></hr>
                                                    <li>Opss... :(</li>
                                                    </br>
                                                    <li>Sua Solicitação NOME DO  </li>
                                                    <li>SERVIÇO foi negada pelo </li>
                                                    <li>prestador NOME!</li>
                                                    </br>
                                                    <li>Por favor, aguarde a  </li>
                                                    <li>justificativa do  </li>
                                                    <li>profissional.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class= "andamento-card rounded" > <img src="/img/retorno.png" alt="footer" class = "imagem-enviado"> 
                                        
                                        <ul >
                                            <li >RETORNADO 
                                                <ul >
                                                    <hr color="white"></hr>
                                                    <li>Solicitação de serviço </li>
                                                    <li>retornada.</li>
                                                    </br>
                                                    <li>Algo na solicitação,  </li>
                                                    <li>negociação ou pagamento  </li>
                                                    <li>deu errado. </li>
                                                    </br>
                                                    <li>Clique aqui para detalhes</li>
                                                    
                                                    <button type="button" class="btn btn-light btn-sm btn-block">DETALHES</button>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
   
                                <img src="/img/pedido2.png" alt="footer" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navExpandir bg-danger">
    <img class="iconPedidos" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent-2" aria-controls="navbarToggleExternalContent-2" aria-expanded="false" aria-label="Toggle navigation" src="/img/pedidosCard.png" alt="">

    <a href="/usuario/area-contratante/pedidos"><img src="/img/setaSemFundo.png"  alt="mais detalhes"></a>
    </nav>

</div>
</br>