<h3>Acompanhe Área Usuario</h3>

<ul class="row d-flex align-items-right ">
    <li class= "itensAcompanheUsuario col-md-6p-1" >Acompanhe as etapas dos serviços aqui
       <ul >
            <li class = "itensAcompanheUsuario col-md-6p-1">
                <ul >
                    <hr></hr>
                <li>Alguma Informação</li>
                    
                <li>Alguma Informação</li>
                </ul>
            </li>
        </ul>
    </li>
    <li class = "acompanheUsuario col-md-6 p-1" >
        <a><img src="/img/prestadores em solicitação.png" alt="footer" class = "img-footer"></a>
    </li>
</ul>

<div class="p-3 mb-2 bg-success text-white">PEDIDOS/SERVIÇOS SEM IMPEDIMENTOS</div>
<ul class="row d-flex align-items-right " >
    <li class="confirm col-md-2 p-2">
            <ul>
                <li class = "confirm col-md-3p-1" >
                    <img src="/img/confirm.png" alt="footer" class = "confirm col-md-4">   
                </li>
            </ul>
    </li>
    <li class="analise col-md-2 p-2">
        <ul>
            <li class = "analise col-md-3p-1" >
                <img src="/img/analise.png" alt="footer" class = "analise col-md-4">   
            </li>
        </ul>
    </li>
    <li class="aceito col-md-2 p-2">
        <ul>
            <li class = "aceito col-md-3p-1" >
                <img src="/img/aceito.png" alt="footer" class = "aceito col-md-4">   
            </li>
        </ul>
    </li>
    <li class="andamento col-md-2 p-2">
        <ul>
            <li class = "andamento" >
                <img src="/img/andamento.png" alt="footer" class = "andamento col-md-4">   
            </li>
        </ul>
    </li>
</ul>


<ul class="row d-flex align-items-center">  

    <li class= "enviado" >ENVIADO 
        
       <ul >
            <li class = "enviado col-md-2p-1">Muito Bem!
                <ul >
                 <hr color="white"></hr>
                <li></li>
                <li>Seu Pedido: Nome do serviço foi </li>
                <li>enviado para o prestador nome!</li>
                <li>Agora apenas aguarde a analise </li>
                <li>do profissional</li>
                <li></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class= "analise-card" >EM ANÁLISE
        
        <ul >
             <li class = "analise-card col-md-2p-1">Só mais um pouco!
                 <ul >
                  <hr color="white"></hr>
                 <li></li>
                 <li>O prestador está analisando </li>
                 <li>a melhor forma de atende-lo.</li>
                 <li>Fique atento ao chat! </li>
                 <li>A qualquer momento o prestador</li>
                 </ul>
             </li>
         </ul>
     </li>
     <li class= "aceito-card" >Enviado 
        
        <ul >
             <li class = "aceito-card col-md-2p-1">ACEITO
                 <ul >
                  <hr color="white"></hr>
                 <li></li>
                 <li>Muito bom! :) </li>
                 <li>sua solicitação NOME DO SERVIÇO</li>
                 <li>foi aceita pelo prestador NOME! </li>
                 <li>Confirme o orçamento com o </li>
                 </ul>
             </li>
         </ul>
     </li>
     <li class= "andamento-card" >Enviado 
        
        <ul >
             <li class = "andamento-card col-md-2p-1">EM ANDAMENTO
                 <ul >
                  <hr color="white"></hr>
                 <li></li>
                 <li>Serviço em andamento. Sempre </li>
                 <li>mantenha contato com o profissio-</li>
                 <li>nal. Dê preferencia pelo nosso </li>
                 <li>chat!</li>
                 </ul>
             </li>
         </ul>
     </li>
</ul>
<img src="/img/interrompidos.png" alt="footer">  

