<!-- pagina para testar o include cards -->

<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./include/head.ejs", {title:"Area Usuário"}) %> 
<body>
    <h3>Área Usuário contratante</h3>

    <%- include("./include/cardsUsuario.ejs") %> 


    <%- include("./include/script.ejs") %> 
</body>
</html>