<h3>Cadastre ou altere aqui os seus serviços</h3>
<form>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Area de Atuação</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Reparos domésticos</option>
          <option>Automoveis em geral</option>
          <option>Saúde em geral</option>
          <option>Saúde mental</option>
          <option>Bem estar fisico</option>
          <option>Cuidadores</option>
          <option>Pets</option>
          <option>Outra, informe abaixo:</option>
        </select>
    <div class="form-group">
        <label for="formGroupExampleInput">Area de Atuação não informada anteriormente</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Advogados, Contadores, Professores, etc...">
      </div>   
      <div class="form-group">
        <label for="formGroupExampleInput">Cidade</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="São Paulo">
      </div>   
      <div class="form-group">
        <label for="formGroupExampleInput">Bairro e Região</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Bela vista, Centro, Etc...">
      </div>    

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Conte-nos um pouco a respeito de você e do seu serviço:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  </form>
  <button type="button" class="btn btn-dark btn-sm">Salvar</button>