<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'ToolsHall - Cadastre Contratante'}) %>

<body>
  <%- include('include/header')%>
  <%- include('include/menuNav') %>

  <main class="cadastro-contratante">
   
           <div class="card formContatoSistema col-11 col-sm-11 col-md-7 col-lg-6 col-xl-5 p-0 m-0">
            <!-- topo 3 sanfona -->
            <div class="card-header sanfonaTopoMeusDados" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link tituloSanfonaTopoMeusDados" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                       
                        Cadastre-se!
                    </button>
                </h5>
            </div>
            <div class="card-body">
                <!-- formulario contato -->
                <form action="/cadastro/contratante" class="d-flex flex-column justify-content-center" id="formularioContratante" method="POST">
                    <!-- input linha -->
                    <div class="form-row">
                        <!-- input Assunto -->
                        <div class="form-group col">
                            <label for="contratante-inputNome">Nome</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text etiquetaCampo">Nome</span>
                                </div>
                                <input type="text" name="contratanteNome" id="contratante-inputNome" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                     placeholder="Digite seu nome">   
                              
                                </div>
                        </div>
                    </div>

                    <!-- input linha -->
                    <div class="form-row">
                        <!-- input Nome -->
                        <div class="form-group col">
                            <label for="contratante-inputEmail">E-mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text etiquetaCampo">E-mail</span>
                                </div>
                                <input type="text" name="contratanteEmail" id="contratante-inputEmail" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                    placeholder="Digite seu e-mail">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                      <!-- input email -->
                      <div class="form-group col">
                          <label for="contratante-inputCpf">CPF</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text etiquetaCampo">CPF</span>
                              </div>
                              <input type="text" name="contratanteCpf" class="form-control" id="contratante-inputCpf" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                  placeholder="Digite seu CPF">
  
                          </div>
                      </div>
                    </div>

                    <!-- input linha 3 -->
                    <div class="form-row">
                        <!-- input email -->
                        <div class="form-group col">
                            <label for="contratante-inputSenha">Senha</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text etiquetaCampo">Senha</span>
                                </div>
                                <input type="password" name="contratanteSenha" id="contratante-inputSenha" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                     placeholder="Insira sua senha">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                      <!-- input email -->
                      <div class="form-group col">
                          <label for="contratante-inputRepetirSenha">Repetir senha</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text etiquetaCampo">Repetir senha</span>
                              </div>
                              <input type="password" name="contratanteRepetirSenha" id="contratante-inputRepetirSenha" class="form-control campoMeusDadosStyle campoDadoReadonly"
                                  placeholder="Repetir senha">

                          </div>
                      </div>
                  </div>
           

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn botaoMeusDados">CADASTRAR</button>
                    </div>
                </form>
            </div>
        </div>
   
  </main>

  <%- include('include/footer') %>
  
</body>

</html>