<main class="container-fluid w-100 h-100 d-flex justify-content-center align-items-center">
   
    <div class="container-chat">
        <% listaDeChat.forEach(chat => {  %>
        <div class="container-menssage">
            <div class="avatar-chat p-1">
                <img src="/img/mario-perfil.png" class="img-fluid rounded-circle" alt="">
            </div>
            <div class="chat-content-main">
                <h4 class="title">
                    <%= chat.nomeCliente %> 
                </h4>
                <div class="menssage">
                    <%= chat.ultimaMensagem %> 
                </div>
                <div class="status">
                    <div class="d-flex aling-items-center"><div class="color-notification"></div><span> Online</span></div>
                    <div class="last-menssage">
                        <%= data.moment(chat.dataUltimaMensagem).calendar(); %>
                    </div>
                </div>
            </div>
            <div class="notify-new-menssage">
                <div class="news">
                    2 <img src="/img/notificacao-icon.png" alt="icone de novas mensagens">
                </div>
                
            </div>
        </div>
        <% }); %> 
    </div>
</main>

