<main class="container-fluid w-100 h-100 d-flex justify-content-center align-items-center bg-primary">
    <!-- <ul class="row container-chat">
        <li class="col-12 item-list-chat-header">
            <h2 class="title-header-chat">Chat</h2> 
            <div class="search-input-chat">
                <img src="/img/search-icon.png" alt="">
                <input type="text" placeholder="Pesquisar">
            </div>
        </li>
        <li class="col-12 item-list-chat">
            
            <div class="img-thumb-chat-list">
                <img src="/img/mario-perfil.png" alt="">
            </div>
            <div class="menssage-chat-list">
                <h4>Mario Bros Mamamia Silva</h4>
                <div class="menssage-chat-preview">
                    <p>
                        Podemos conversa mais sobre aquele problema com canos e tartarugas?Podemos conversa mais sobre aquele problema com canos e tartarugas? 
                        Podemos conversa mais sobre aquele problema com canos e tartarugas? 
                    </p>
                </div>
                <div class="menssage-chat-footer">
                    <div class="status-is-logged"></div> <span>online</span>
                </div>
            </div>
            <div class="notify-chat-list">
                
            </div>
        </li>
        <li class="col-12 item-list-chat">oi</li>
        <li class="col-12 item-list-chat">oi</li>
        <li class="col-12 item-list-chat">oi</li>
    </ul> -->
    <div class="container-chat">
        <div class="row">
            <div class="col-12 item-list-chat-header">
                <h2 class="title-header-chat">Chat</h2> 
                <div class="search-input-chat">
                    <img src="/img/search-icon.png" alt="">
                    <input type="text" placeholder="Pesquisar">
                </div>
            </div>
        </div>
    </div>

</main>