<div id="fundo-bofl">
    <div class="container">
        <div class="container">
                <h3>Seu Histórico</h3>
        </div>
       
    
    
    <div class="card" id="historicobofl">
        <div class="card-header" id="historico-header-andamento-bofl">
          Em Andamento
        </div>
        <div class="card-body" id="historico-body-bofl">
            <div id="descricao-bofl">
                    <h5 class="card-title">Projeto - Escritório</h5>
                    <h6 class="card-title">10/04/2020 - 20 Dias</h6>
                    <h6 class="card-title">Prestador: Paulo Jose #144125</h6>
            </div>
            <div id="btns-historico-bofl">
                    
                    <a href="/usuario/area-contratante/chat" id="btn-chat-bofl" class="btn btn-primary">Chat</a>
            </div>
          
          
        </div>
      </div>
      <div class="card" id="historicobofl">
        <div class="card-header" id="historico-header-finalizado-bofl">
          Finalizado
        </div>
        <div class="card-body" id="historico-body-bofl">
                <div id="descricao-bofl">
                        <h5 class="card-title">Conserto da Tv</h5>
                        <h6 class="card-title">10/05/2017 - 7 Dias</h6>
                        <h6 class="card-title">Prestador: Paulo Jose #144125</h6>
                </div>
                <div id="btns-historico-bofl">
                        <a href="#" id="btn-avaliar-bofl" class="btn btn-primary">Avaliar</a>
                        <a href="/usuario/area-contratante/chat" id="btn-chat-bofl" class="btn btn-primary">Chat</a>
                </div>
              
              
            </div>
      </div>
      <div class="card" id="historicobofl">
        <div class="card-header" id="historico-header-finalizado-bofl">
          Finalizado
        </div>
        <div class="card-body" id="historico-body-bofl">
                <div id="descricao-bofl">
                        <h5 class="card-title">Instalação do Ar Condicionado</h5>
                        <h6 class="card-title">15/11/2016 - 1 Dia</h6>
                        <h6 class="card-title">Prestador: Paulo Jose #144125</h6>
                </div>
                <div id="btns-historico-bofl">
                        <a href="#" id="btn-avaliar-bofl" class="btn btn-primary">Avaliar</a>
                        <a href="/usuario/area-contratante/chat" id="btn-chat-bofl" class="btn btn-primary">Chat</a>
                </div>
              
              
            </div>
      </div>
      <div class="card" id="historicobofl">
        <div class="card-header" id="historico-header-cancelado-bofl">
          Cancelado
        </div>
        <div class="card-body" id="historico-body-bofl">
                <div id="descricao-bofl">
                        <h5 class="card-title">Instalação do Ar Condicionado</h5>
                </div>
                <div id="btns-historico-bofl">
                        <a href="/usuario/area-contratante/chat" id="btn-chat-bofl" class="btn btn-primary">Chat</a>
                </div>
              
              
            </div>
      </div>
      <div class="card" id="historicobofl">
        <div class="card-header" id="historico-header-finalizado-bofl">
          Finalizado
        </div>
        <div class="card-body" id="historico-body-bofl">
                <div id="descricao-bofl">
                        <h5 class="card-title">Conserto - Portão Automático</h5>
                        <h6 class="card-title">02/04/2016 - 1 Dia</h6>
                        <h6 class="card-title">Prestador: Paulo Jose #144125</h6>
                </div>
                <div id="btns-historico-bofl">
                        <a href="#" id="btn-avaliar-bofl" class="btn btn-primary">Avaliar</a>
                        <a href="/usuario/area-contratante/chat" id="btn-chat-bofl" class="btn btn-primary">Chat</a>
                </div>
              
              
            </div>
      </div>
      
      </div>
    
    </div>