<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head.ejs',{title:'Cadastro'}) %> 
<body>
    <main class="register-user">
        <div class="form-container-register">
            <div class="left-register">
                <h1>Login Admin</h1>
                <img class="tools-logo" src="/img/ToolsHall-logo-white.png" alt="">
                <img class="icon-login" src="/img/login.png" alt="">
            </div>
            <div class="right-register">
                <form action="" method="post">
                    <label class="title-input">Email</label>
                    <input class="input-text" type="text">
                    <label class="title-input">Senha</label>
                    <input class="input-text" type="text">
                    <button class="btn-register" type="submit">Confirmar</button>
                    <small class="alert-register">Esqueceu sua senha? <a href=""> clique aqui</a></small>
                </form>
            </div>      
        </div>
    </main>
</body>
</html>