<section class="container-fluid">
    <div>
        <p class="titulob"> <strong>Seus orçamentos</strong> </p>
    </div>
    <hr >
    <div class="op1">
      ORÇAMENTOS PENDENTES
    </div>
    <button class="accordion"><img src="/img/icon-orc3.png" alt="">ATIVO</button>
    <section class="panel">
      <div class="descricao-servico-usuario">
        <div class="info-servicos-usuario">
            
                    <p><strong>NOME_SERVIÇO</strong></p>
                    <hr class="hr1">
                    <P>SERVIÇO: #160022020</P>
                    <p>PRESTADOR: MARIO<br>
                    ENCANADOR</p>
        
        </div>
        <div class="dados-servicos-usuario">
            <div class="tabelaContratante">
                    <table >
                            <tr>
                                <th>Contratante</th>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <th>Dados do contratante</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Telefone: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <td>teste</td>
                            </tr>
                    </table>

            </div>
            <div class="tabelaPrestador">
                    <table >
                            <tr>
                                <th>Contratante</th>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <th>Dados do contratante</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Telefone: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <td>teste</td>
                            </tr>
                    </table>
            </div>
                
                
                   
            <div class="rodape-orcamento-usuario">
                <hr class="hr2">
                <div class="inicio-servico">
                    <p>Início do serviço: 07/02/2020 </p>
                </div>
                <div class="inicio-garantia">
                    <p>Início da Garantia: 07/02/2020</p>
                </div>         
                
            </div>
            
                 
        </div>
        
    
        <div class="espaco-orcamento-usuario">
        
        </div>
        <div class="detalhes-orcamento-usuario">
            <p>DETALHES</p>
        </div>
        <div class="itens-orcamento-usuario">
            <p>ITENS INCLUSOS</p>
        </div>
        <div class="detalhes-orcamento-usuario">
            <div class="produtos-checkbox">
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Produto 1
                            </label>
                           
                    </div>
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Produto 2
                            </label>
                           
                    </div>
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Produto 3
                            </label>
                           
                    </div>
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Produto 4
                            </label>
                           
                    </div>
             

            </div>
            <div class="form-itens-orca-usuario">
                    <form>
                            <div class="form-group">
                              <label for="formGroupExampleInput">Horas Necessárias</label>
                              <input type="text" class="form-control" id="formGroupExampleInput" >
                            </div>
                            <div class="form-group">
                              <label for="formGroupExampleInput2">Gastos</label>
                              <input type="text" class="form-control" id="formGroupExampleInput2" >
                            </div>
                          </form>
            </div>
        </div>
        <div class="itens-orcamento-usuario">
           
                <p>RESUMO DO SERVIÇO</p>
        </div>
        <div class="detalhes-orcamento-usuario">
                <div class="resumo-ou">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et diam sed justo sagittis hendrerit non vel urna. Nullam efficitur est vitae turpis ultrices, pulvinar sollicitudin nulla consectetur. Suspendisse lacinia feugiat lacinia. Ut rutrum tristique dapibus. Nam mattis pulvinar elit, nec posuere urna molestie ut. Pellentesque lacus sapien, porttitor ac nisi non, finibus maximus magna. Maecenas est nisi, fringilla vitae enim in, consectetur vestibulum magna. Cras porta ligula sapien, vitae consequat lectus facilisis id. Nam odio ligula, posuere et metus sit amet, placerat venenatis ante. Phasellus vehicula venenatis massa, eget volutpat enim ullamcorper eu. Integer ac orci in quam eleifend fermentum imperdiet eu nisl. Cras et velit cursus, dapibus dolor sit amet, elementum odio.

                          Duis ut enim aliquam, efficitur felis in, sollicitudin metus. Cras gravida feugiat lacus, at eleifend diam cursus ac. Nam id gravida felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla et justo dictum, scelerisque risus id, aliquam felis. Integer vel enim non lacus scelerisque luctus. Donec sit amet sapien ut lectus egestas varius ut id risus. Phasellus convallis augue vel ornare lobortis. Proin vitae interdum nisl, nec elementum elit. Donec at dui sit amet lorem egestas suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a feugiat nulla. Cras vestibulum semper ipsum, eget consectetur quam laoreet malesuada. Fusce fringilla sapien id neque sagittis, sed pharetra mauris elementum.
                        </p>
                    </div>
           
               
            </div>
        <div class="itens-orcamento-usuario">
           
            <p>PAGAMENTO</p>
            <P class="especificacoes-o-u">FORMA DE PAGAMENTO</P>
        </div>
        <div class="detalhes-orcamento-usuario">
               
                <div class="especificacoes-ou">
                    <div class="descricao-pgt">
                            <table class="table table-borderless">
                                      
                                        <td class="td-ou">Serviço</td>
                                        <td class="td-ou">R$ 1.000,00</td>
                                        
                                      </tr>
                                      <tr>
                                      
                                        <td class="td-ou">Visita Técnica</td>
                                        <td class="td-ou">R$ 20,00</td>
                                       
                                      </tr>
                                    </tbody>
                                  </table>

                    </div>
                    <div class="pgto-ou">
                        <div class="tabela-pgto-ou">
                                <table class="table table-bordered">
                                        <thead class="cabecalho-ou">
                                          <tr>
                                            <th colspan="2">PARCELAS</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="tr-ou-bgcolor">
                                          
                                            <td>Entrada</td>
                                            <td>R$ 200,00</td>
                                            
                                          </tr>
                                          <tr>
                                          
                                            <td>10/03</td>
                                            <td>R$ 266,66</td>
                                            
                                          </tr>
                                          <tr class="tr-ou-bgcolor">
                                          
                                                <td>10/04</td>
                                                <td>R$ 266,66</td>
                                                
                                              </tr>
                                              <tr>
                                          
                                                    <td>10/05</td>
                                                    <td>R$ 266,66</td>
                                                    
                                                  </tr>
                                        </tbody>
                                      </table>

                        </div>
                     

                    </div>
                </div>
                <div class="resumo-ou-ap">
                        <div class="forma-pgto-ou">
                                <table class="table table-bordered">
                                       
                                        <tbody>
                                          <tr>
                                          
                                            <td>Total: </td>
                                            <td>R$ 1.000,00</td>
                                            
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table class="table table-bordered table-bordered-2">
                                       
                                            <tbody>
                                                    <tr>
                                                        <td colspan="2">FORMA DE PAGAMENTO </td>
                                                    </tr>
                                              <tr>
                                                <td colspan="2">CRÉDITO PARCELADO </td>
                                             </tr>

                                             <tr>
                                                    <td colspan="2">4X DE R$ 250,00 </td>
                                            </tr>
                                            <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                            <label class="form-check-label" for="exampleRadios1">
                                                              Cartão
                                                            </label>
                                                          </div></td>
                                                    <td>
                                                            <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                                    <label class="form-check-label" for="exampleRadios1">
                                                                      App
                                                                    </label>
                                                                  </div>
                                                    </td>
                                            </tr>
                                            </tbody>
                                          </table>


                        </div>
                    </div>
        </div>
        <div class="itens-orcamento-usuario">
            <p>DATA</p>
        </div>
        <div class="detalhes-orcamento-usuario" id="calendario-ou">
            <div class="calendario-ou">
                    <table class="table table-bordered" id="tableButton-ou">
                            <thead class="cabecalho-ou">
                              <tr>
                                <th scope="col">dom</th>
                                <th scope="col">seg</th>
                                <th scope="col">ter</th>
                                <th scope="col">qua</th>
                                <th scope="col">qui</th>
                                <th scope="col">sex</th>
                                <th scope="col">sab</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="tr-ou-bgcolor">
                               
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                               <td>1</td>
                                <td>2</td>
                              </tr>
                              <tr class="tr-ou-bgcolor1">
                               
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                  </tr>
                                  <tr class="tr-ou-bgcolor">
                               
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td>16</td>
                                      </tr>
                                      <tr class="tr-ou-bgcolor1">
                               
                                            <td>17</td>
                                            <td>18</td>
                                            <td>19</td>
                                            <td>20</td>
                                            <td>21</td>
                                            <td>22</td>
                                            <td>23</td>
                                          </tr>
                                          <tr class="tr-ou-bgcolor" >
                               
                                                <td>24</td>
                                                <td>25</td>
                                                <td>26</td>
                                                <td>27</td>
                                                <td>28</td>
                                                <td>29</td>
                                                <td>30</td>
                                              </tr>
                            </tbody>
                          </table>
            </div>
        </div>
        <div class="botaofinal-orcamento-usuario">
            <button>REJEITAR</button>
            <button>ACEITO</button>
            <button>PAGAR</button>

        </div>
        
        </div>
       
</section>
    <div class="op2">
      ORÇAMENTOS ACEITOS
    </div>
    <button class="accordion"><img src="/img/icon-orc3.png" alt="">ATIVO</button>
    <div class="panel">
      <section class="descricao-servico-usuario">
        <div class="info-servicos-usuario">
            
                    <p><strong>NOME_SERVIÇO</strong></p>
                    <hr class="hr1">
                    <P>SERVIÇO: #160022020</P>
                    <p>PRESTADOR: MARIO<br>
                    ENCANADOR</p>
        
        </div>
        <div class="dados-servicos-usuario">
            <div class="tabelaContratante">
                    <table >
                            <tr>
                                <th>Contratante</th>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <th>Dados do contratante</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Telefone: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <td>teste</td>
                            </tr>
                    </table>

            </div>
            <div class="tabelaPrestador">
                    <table >
                            <tr>
                                <th>Contratante</th>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <th>Dados do contratante</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Telefone: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <td>teste</td>
                            </tr>
                    </table>
            </div>
            <div class="rodape-orcamento-usuario">
                <hr class="hr2">
                <div class="inicio-servico">
                    <p>Início do serviço: 07/02/2020 </p>
                </div>
                <div class="inicio-garantia">
                    <p>Início da Garantia: 07/02/2020</p>
                </div>         
                
            </div>
            
                 
        </div>
        
    
   
        <div class="espaco-orcamento-usuario">
        
            </div>
    </section>
    </div>
</section>