<section class="container-fluid">
    <div>
        <p class="titulob"> <strong>Seus orçamentos</strong> </p>
    </div>
    <hr >
    <div class="op1">
      ORÇAMENTOS PENDENTES
    </div>
    <button class="accordion"><img src="/img/icon-orc3.png" alt="">ATIVO</button>
    <section class="panel">
      <div class="descricao-servico-usuario">
        <div class="info-servicos-usuario">
            
                    <p><strong>NOME_SERVIÇO</strong></p>
                    <hr class="hr1">
                    <P>SERVIÇO: #160022020</P>
                    <p>PRESTADOR: MARIO<br>
                    ENCANADOR</p>
        
        </div>
        <div class="dados-servicos-usuario">
            <div class="tabelaContratante">
                    <table >
                            <tr>
                                <th>Contratante</th>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <th>Dados do contratante</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Telefone: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <td>teste</td>
                            </tr>
                    </table>

            </div>
            <div class="tabelaPrestador">
                    <table >
                            <tr>
                                <th>Contratante</th>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <th>Dados do contratante</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Telefone: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <td>teste</td>
                            </tr>
                    </table>
            </div>
                
                
                   
            <div class="rodape-orcamento-usuario">
                <hr class="hr2">
                <div class="inicio-servico">
                    <p>Início do serviço: 07/02/2020 </p>
                </div>
                <div class="inicio-garantia">
                    <p>Início da Garantia: 07/02/2020</p>
                </div>         
                
            </div>
            
                 
        </div>
        
    
        <div class="espaco-orcamento-usuario">
        
        </div>
        
        </div>
       
</section>
    <div class="op2">
      ORÇAMENTOS ACEITOS
    </div>
    <button class="accordion"><img src="/img/icon-orc3.png" alt="">ATIVO</button>
    <div class="panel">
      <section class="descricao-servico-usuario">
        <div class="info-servicos-usuario">
            
                    <p><strong>NOME_SERVIÇO</strong></p>
                    <hr class="hr1">
                    <P>SERVIÇO: #160022020</P>
                    <p>PRESTADOR: MARIO<br>
                    ENCANADOR</p>
        
        </div>
        <div class="dados-servicos-usuario">
            <div class="tabelaContratante">
                    <table >
                            <tr>
                                <th>Contratante</th>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <th>Dados do contratante</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Telefone: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <td>teste</td>
                            </tr>
                    </table>

            </div>
            <div class="tabelaPrestador">
                    <table >
                            <tr>
                                <th>Contratante</th>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <th>Dados do contratante</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Telefone: </th>
                                <td>teste</td>
                            </tr>
                            <tr>
                                <th>Endereço: </th>
                                <td>teste</td>
                            </tr>
                    </table>
            </div>
            <div class="rodape-orcamento-usuario">
                <hr class="hr2">
                <div class="inicio-servico">
                    <p>Início do serviço: 07/02/2020 </p>
                </div>
                <div class="inicio-garantia">
                    <p>Início da Garantia: 07/02/2020</p>
                </div>         
                
            </div>
            
                 
        </div>
        
    
   
        <div class="espaco-orcamento-usuario">
        
            </div>
    </section>
    </div>
</section>