<section class="container-fluid">
    <div>
        <p class="titulob"> <strong>Seus orçamentos</strong> </p>
    </div>
    <hr >
    <div class="op1">
      ORÇAMENTOS PENDENTES
    </div>
    <button class="accordion"><img src="/img/icon-orc3.png" alt="">ATIVO</button>
    <div class="panel">
      <p>texto</p>
    </div>
    <div class="op2">
      ORÇAMENTOS ACEITOS
    </div>
    <button class="accordion"><img src="/img/icon-orc3.png" alt="">ATIVO</button>
    <div class="panel">
      <p>texto</p>
    </div>
    
    <!--
    <div class="pendentes">
            <div class="op1">
                    ORÇAMENTOS PENDENTES
                </div>
                <div class="accordion" id="accordionExample">
                        <div class="card cardb">
                          <div class="card-header card-headerb" id="headingOne">
                            <h5 class="mb-0">
                                <img src="/img/icon-orc.png" alt="">
                              <button class="btn btno1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                ATIVO
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non alemanha 0 x 2 coreia do sul cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
    </div>
    <div class="aceitos">
            <div class="op2">
                    ORÇAMENTOS ACEITOS
                </div>
                <div class="accordion" id="accordionExample">
                        <div class="card cardb">
                          <div class="card-header card-headerb" id="headingOne">
                            <h5 class="mb-0">
                                <img src="/img/icon-orc.png" alt="">
                              <button class="btn btno2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                ATIVO
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non alemanha 0 x 2 coreia do sul cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
    </div>
 
      -->
    
    <!--<nav class="navbar navb">
        <img src="/img/icon-orc.png" alt="">
        <a href="#" class="btn">ATIVO</a>
    </nav>-->
    
</section>