<!DOCTYPE html>
<html lang="pt-br">
<%- include('include/head', {title:'Pagamento'}) %>

<body class="d-flex justify-content-center align-items-center w-100 h-100">

  <div class="alert alert-success" role="alert">
    Pagamento finalizado com SUCESSO
  </div>

  <%- include('include/script') %>
</body>

</html>